[2015-05-26 18:19] juristr commented on #11929
Ok, I see. I'll check whether I can upgrade. Thx

[2015-05-26 20:18] Narretz commented on #11939
Thanks for testing. Could you also test if removing your app's dependency on ngAnimate fixes the problem in 1.3.x?

[2015-05-26 20:39] jgehrcke opened #11945 "$http service: specification of `status` in error case"
https://docs.angularjs.org/api/ng/service/$http clearly states that the `status` argument to the `success` handler is between 200 and 299. In all other cases, the `error` handler is called. However, there is no statement about the values that `status` can assume within the error handler. I guess that it is either `0` (if no back-end response arrived, for whatever reason) or the HTTP status indicat

[2015-05-26 20:45] FabrizioA commented on #11939
Hi Narretz, I can confirm that if I remove ngAnimate app's dependency the problem on IE disappear, all run ok and the two nested ng-repeat's rendering works smoothly.
Thanks for your support.
Cheers
Fabrizio

[2015-05-26 21:02] gkalpak commented on #11939
So, IE's not "buffering" calls to `requestAnimationFrame()` might indeed be the culprit here.
@matsko, do you think #11800 could be backported to 1.3.x ? (It's a small fix and seems to be independent of the _great refactoring_.)

@FabrizioA, fwiw 1.4.0 (stable) is about to be released (before the end of the week if I'm not mistaken), so you might want to migrate to that and rip the benefits (with

[2015-05-26 21:04] matsko commented on #11939
@gkalpak yes we should be able to do it.

[2015-05-26 21:14] gkalpak commented on #11945
I think, the only guarantee is that (if it's a number) it will be <= 0. Other than that, it comes directly from the `XMLHttpRequest`'s `status` property, which [according to MDN][1] should be an _unsigned short_, but I am not sure what some weird backend might do (and what browsers would accept).

It's extremely unlikely that you get a non-numeric value (but it's not something Angular-specific rea

[2015-05-26 21:25] WraithKenny commented on #5307
It'd be nice if we can get a response on wether this is a bug or a feature...I think it's a bug, but I'm new to Angular...

Is it recommended to not use ngHref when also using ngClick? If it is, I'll deal with it I guess, otherwise, it'd be nice to have this confirmed as a bug, and we can expect a bug fix sometime in the future.

[2015-05-26 21:27] #11717 closed

[2015-05-26 21:46] poshest commented on #11922
Cool, thanks Narretz!  Wasn't expecting it to be backported.  :)

[2015-05-26 23:13] jgehrcke commented on #11945
You meant write `>= 0`, right?

So, if AngularJS guarantees to not touch and just forward `XMLHttpRequest.status`, then things are clear enough. The behavior of this flag is specified [here](http://www.w3.org/TR/XMLHttpRequest/#the-status-attribute
):
[code]

In other words, one can safely expect this to be an integer, and checking for 0 is a useful way to catch all errors that were not produced b

[2015-05-27 06:43] vytautas-pranskunas- commented on #11912
Is there any progress or thoughts on this?

[2015-05-27 06:53] caitp commented on #11912
The plunkr isn't including the ngMock module, which provides the decorated $interval service with a "flush" method. The ngMock services are intended for unit testing (to enable you to write fast, non-flaky, synchronous unit tests). Your application code should never be calling $interval.flush() itself, and I'm not sure protractor specs can trigger fake timeouts (though WebDriver may have some abil

[2015-05-27 07:07] vytautas-pranskunas- commented on #11912
You have misunderstood me. I had issue with protractor with $timeout so i swithced to $interval witch is ignored by protractor and works as expected. But after switching to $interval i faced problem in my UI tests where I am testing controllers (ngMock included) and $interval.flushdoes not work there.

Do you have any example in plunker with tests included ngMock to try it?

[2015-05-27 07:14] gkalpak commented on #11945
@jgehrcke, yeah I meant `>= 0`.

<sub>BTW, I kind of lied, Angular does a tiny little manipulation of `XMLHttpRequest.status`: It passes it through `Math.max(status, 0)` (in order to _"normalize internal statuses"_).</sub>
<sub>This has the side-effect that `status` is parsed as number, so things might get weird if the backend returns a non-numeric status value. (But if you have a non-number-statu

[2015-05-27 07:46] AndrewIsh commented on #11913
Yep, thanks @ryanhart2 and @Narretz, my mistake, sorry! :) Please close.

[2015-05-27 08:27] FabrizioA commented on #11939
@matsko it would be great if the IE buffering fix could implement into 1.3.x. At this moment I can't upgrade to 1.4.0 :(
Thanks a lot.

[2015-05-27 09:30] ryanhart2 commented on #11936
I will be away for a week, but if it hasn't been resolved by someone else by then, I will give it a go.

[2015-05-27 10:27] JaayK opened #11949 "how to create folder/directory with auto generated id/name for each and every folder in AngularJs? AngularJs, MongoDB, Javascript, HTML, MKDir, Folder"
down vote
favorite
I've got trapped in one more issue.

i want to create folder/directory automatically, whenever the user upload his/her image file from their system.

it should saved in server system in particular folder which should created automatically for each and every uploads with auto generated ID/ name for folders. well am okay with Javascript code also, but it could be if it is in Angul

[2015-05-27 11:08] Hacklone opened #11950 "1.3.x and 1.2.x tags lost in bower-angular repository"
Hello,

Somehow the older angular version tags disappeared from the bower-angular repository.
Could you push those back, we use bower to collect packages and it fails at every build?

Thanks

[2015-05-27 11:14] Devqon opened #11951 "ng-repeat-start and track by $index weird order behaviour"
When using an ng-repeat-start (or just ng-repeat) in combination with a `track by $index` and an `unshift()` action on the collection, the new element is inserted **after** the first one (when a 'bot' message is inserted after another).

See [this jsfiddle](http://jsfiddle.net/t6x3a1zj/13/)

The css says that the first element needs to be animated when `ng-enter` is applied, but it doesn't when th

[2015-05-27 11:38] Narretz commented on #11949
This is a support question, and does not belong into this repo.

[2015-05-27 11:38] #11949 closed

[2015-05-27 12:00] gkalpak commented on #11951
I don't really get what the fiddle is supposed to do, but it sounds like it's working as expected (because of how `$track by $index` works.

`$track by $index` will "reuse" the same DOM elements, because it is tracking them by `$index` (and an element for the same `$index` already exists). Thus it will only update the contents o the element, but will not remove it and create a new one (thus no `ng

[2015-05-27 12:52] lgalfaso commented on #11951
Agree with @gkalpak this is working as expected.

[2015-05-27 12:52] #11951 closed

[2015-05-27 12:52] IgorMinar commented on #11950
I can't reproduce this issue. The repo [has all the tags](https://github.com/angular/bower-angular/releases/) and `bower install angular#1.3.5` does the right thing.

Can you provide steps to reproduce the issue please?

[2015-05-27 14:34] Devqon commented on #11951
Okay my mistake then. Thanks for the explanations! I misassumed that `track by $index` was for tracking by index of the **array**.

This issue then can be closed :)

[2015-05-27 15:15] Hacklone commented on #11950
Oops a dependency package caused it.
Closing this, sorry for your time.

[2015-05-27 15:15] #11950 closed

[2015-05-27 15:41] zivc commented on #1434
BUMP!

[2015-05-27 18:06] bcherny commented on #3407
+1 would be really nice to have this. the lack of async formatters and parsers makes working with async data pretty nasty, and this would help prevent some of the race conditions introduced by synchronous validation against an async data source.

[2015-05-27 18:18] nicroto opened #11954 "Directive resolution breaks in FF and Safari, if webcomponents.js is added to the page."
I have already posted the issue in the repo of Webcomponents.js, [here](https://github.com/webcomponents/webcomponentsjs/issues/321).

**Update:** I've made this, so you can test it even faster (check in Chrome - should work, and FF and Safari fail): http://plnkr.co/edit/r2GE2x4vTPBZscMTrn2u?p=preview

**Without** the webcomponents.js script, the `<custom-container>` from this markup:
[code]
is re

[2015-05-27 20:11] juliemr commented on #11912
Here is an example of tests using $interval.flush: https://github.com/angular/angular.js/blob/master/test/ngMock/angular-mocksSpec.js#L286

Does that help?

[2015-05-28 06:38] vytautas-pranskunas- commented on #11912
Hmm I tried once more and now it seems working. Only thing I can think of is some Chrome's super cache when it was $timeout service injected in tests and $interval in code. But it is wired because i have tired it on 3 developers machines. Any way as far as it works the only issue left is protractor browser.wait + $timeout https://github.com/angular/protractor/issues/169#issuecomment-103945952

[2015-05-28 08:54] nicroto commented on #11954
I believe I've narrowed the problem down to a specific function (line) in angular.js: https://github.com/angular/angular.js/blob/bab474aa8b146f6732857c3af1a8b3b010fda8b0/src/ng/compile.js#L1777

The significant part of the callstack is:
[code]

Although replaceWith transfers successfully the parsed nodes into the provided dom element, after applyDirectivesToNode finishes, and the selector is back

[2015-05-28 09:14] Crash-- commented on #9128
To follow the webkit issue : https://bugs.webkit.org/show_bug.cgi?id=138038. Seems that a patch is on the way.

[2015-05-28 09:21] SamuraiPrinciple opened #11959 "A problem with boolean expression evaluation in 1.4"
Greetings,

After upgrading to angular 1.4 we're having a problem with expressions like:

true && aMissingObject.aMissingProperty

They evaluate to true, instead of false (incidentally, true && !!aMissingObject.aMissingProperty evaluates to false).

Here is an example on plunkr:

http://plnkr.co/edit/4wVwHOO3lsc10JaSrIXI

Could you please comment if this is expected behaviour?

Many thanks

[2015-05-28 09:35] nicroto commented on #11954
I'm 95% sure that the problem is Node.childNodes.

`replaceWith<-applyDirectivesToNode` successfully updates the DOM. But after the selector returns in the `compileNodes` function, it continues work with an outdated `nodeList`, where the `<custom-container>` element is not replaced with a `div`, so it doesn't have its child `<inner-container>`. And therefore the `<inner-container>` isn't resolved.

[2015-05-28 09:35] Narretz commented on #11959
Thanks for the report. This happens since 1.4.0-rc.3, so it looks like it's caused by the parse refactor. @lgalfaso can you take a look?

[2015-05-28 09:49] bastianwegge commented on #6726
+1

[2015-05-28 10:38] Exlord opened #11961 "Duplicate providers with multiple app bootstrap"
I have a project that has 2 ng-app running, the second one is bootstrapped manually.
I was having a problem with routing (http://stackoverflow.com/questions/30479809/angular-multi-spa-with-routing) and while going throw the source code to find the problem, i noticed that the ```$browser``` provider is creating a whole new instance of the ```browser``` object when the second app is bootstrapped .

[2015-05-28 10:56] chino23 opened #11962 "1.4 vs 1.3 performance"
Hi,

As I understand 1.4 should bring quite a performance boost in the digest cycle.

How come this test shows it's up to 50% slower?
http://jsperf.com/angularjs-digest-1-0-1-vs-1-2-4/48

[2015-05-28 11:35] nicroto commented on #11954
100% sure `Node.childNodes` is the problem.

If I renew the collection `nodeList` after applyDirectivesToNode has finished, all directives are resolved.

[code]

But I am not sure - should this be fixed in Angular or WebComponents.js...?

[2015-05-28 11:52] kyro38 commented on #8659
While there is a workaround. A fix would be welcome :)

[2015-05-28 11:53] pkozlowski-opensource commented on #11961
All objects in the DI container are singletons, but each application gets a new injector (DI container). So you will have a separate $browser objects living in memory for each AngularJS application.

What you can do in your case is to try to override $browser service with a custom (noop) object for one of application. But bootstraping multiple applications on one page is problematic as there is so

[2015-05-28 11:53] #11961 closed

[2015-05-28 12:58] Narretz commented on #11944
I don't see why not. PR welcome!

[2015-05-28 13:56] Narretz commented on #11962
A few notes:
1) it's unclear how well the test shows what real apps do
2) Firefox currently shows perf improvements

[2015-05-28 14:05] jhg commented on #11962
I run test in Chrome in Ubuntu and is 33% slower, is 17% less that Firefox (2 note). Is possible test all with unclear or all with clear? I can run test in Chrome, Firefox in Ubuntu and Chrome, Firefox, Opera and IExplorer in Windows Xp,7 and 8.

[2015-05-28 14:20] tjokimie opened #11964 "$window mocking not working with ngAnimate since 1.4.0"
I have tests for a directive that uses `$window` and `ngAnimate`. Since 1.4.0 (or 1.4.0-rc.0) I cannot mock `$window` without having `document` property set in `$window`.

This issue is due to `var bodyElement = jqLite($document[0].body);` in `ngAnimate` `animateQueue.js` https://github.com/angular/angular.js/blob/master/src/ngAnimate/animateQueue.js#L108.

I have a JSFiddle demonstrating this pro

[2015-05-28 14:48] landed1 opened #11965 "ngAnimate provider error when trying to inject this into my controller"
1.3.15 (and below tried)
I have ---
app.js

[code]

then in a controller js file Main.js ---
[code]

I am getting the error - Unknown provider: ngAnimateProvider

Usually this is due to a different version of the animate and angular .js files (yes I checked both are loading and the correct version - I really do not know what else to try...)

thanks

[2015-05-28 15:10] tjokimie commented on #11965
This is not a bug.

`ngAnimate` is the module name not the service you are trying to inject. If you want to use animate service you should inject `$animate` instead of `ngAnimate`. See https://docs.angularjs.org/api/ng/service/$animate

[2015-05-28 15:16] landed1 commented on #11965
Thank you so much - I don't know of a better place to post now that stack doesn't allow any more questions. It works and no not a bug but an issue...

[2015-05-28 15:42] #11965 closed

[2015-05-28 16:27] jnizet commented on #7187
+1.

This is caused by the code in `processQueue()`which does the following:

      try {
        if (isFunction(fn)) {
          promise.resolve(fn(state.value));
        } else if (state.status === 1) {
          promise.resolve(state.value);
        } else {
          promise.reject(state.value);
        }
      } catch (e) {
        promise.reject(e);
        exceptionHandler(e);
      }

So,

[2015-05-28 17:41] fenduru opened #11966 "Angular 1.4.0 does not follow semver"
#6484 seems to indicate that Angular 1.3+ would be following semver, however this doesn't seem to be the case as of the 1.4.0 release. My build suddenly started failing when my bower dependency on angular and angular-animate `^1.3.0'` resolved to 1.4.0.

Was this a conscious decision?

[2015-05-28 18:22] vrammohan opened #11967 "Issue with ng-app from angular-2.0.0-alpha is not working"
![angular-2_x-alpha-is-it-a-bug-in](https://cloud.githubusercontent.com/assets/4157858/7867541/5593d4d0-0594-11e5-8a6d-522c9629e4ce.png)

Please see the highlighted areas, is it aa bug in the angular 2.x , I am confused.

[2015-05-28 18:38] caitp commented on #11967
The angular 2.x api is very different from angular 1.x. You might want to take a look at some of the examples from https://github.com/angular/angular/tree/fbd6851860a04c923efbf8f0e785929f012417a6/modules/examples/src

[2015-05-28 18:38] #11967 closed

[2015-05-28 18:49] s134319 commented on #4568
@gkalpak Is there any (plunker) example for the usage of $anchorScroll independently of location.hash? Didn't get it to work as expected.

[2015-05-28 19:43] rebelliard commented on #4568
This works for me:

[code]

[2015-05-28 20:19] fredyang commented on #11966
This looks like it is the issue of client's interpretation.

[2015-05-28 20:24] fenduru commented on #11966
@fredyang [please see the summary of semver](http://semver.org/)

[2015-05-28 22:51] gkalpak commented on #4568
@s134319: Here is a [working demo][1]. Basically, all you got to do is call `$anchorScroll('some-hash')`.

[1]: http://codepen.io/ExpertSystem/pen/RPKrXj?editors=101

[2015-05-29 01:57] ajcrites opened #11972 "Inconsistent promise chaining with HttpPromise"
The `$http` special promise methods `success` and `error` do not always chain as expected.  These should work with the promise chain as expected and also be fully interoperable with the `$q` methods `.then` and `.catch`.

http://plnkr.co/edit/csyUaNojCaUvN6k47V6C?p=preview

        $http.get("https://cors-test.appspot.com/test").success(function (data) {
          return $q(function (_, reject) {

[2015-05-29 04:59] smhc commented on #11112
Good news - this appears fixed in angular 1.4. Or at least, the reproduction code above no longer reproduces the problem when modified to use 1.4.

[2015-05-29 04:59] #11112 closed

[2015-05-29 05:48] chino23 commented on #11962
That is indeed interesting.

While in Chrome 43 Angular 1.4 is about 50% slower than 1.3, testing Firefox 38 shows 1.4 about 20% faster than 1.3.

All in all, Firefox in 1.4 has twice the speed than Chrome.

[2015-05-29 05:49] shaunxu opened #11974 "Date property cannot be merged through "angular.merge""
Assuming I have the code.
[code]

I think `$scope.result` should be
[code]
But I got actually
[code]

I reviewed the source code and found this is because, when performed `baseExtend` it will create an empty object property to destination when source property is object, this is case `birthDate` is Date and also Object. But later when perform `baseExtend` inside `birthDate` there will be nothing to

[2015-05-29 06:36] gkalpak commented on #11974
#11720 will address this issue.

[2015-05-29 06:55] gkalpak commented on #11972
Based on the discussion at #4345 and #10508 (especially https://github.com/angular/angular.js/issues/10508#issuecomment-67734857), it seems like `success()` and `error()` are heading for deprecation.

Note that fixing their "brokenness" would be quite of a breaking change.

[2015-05-29 09:30] jonrimmer opened #11975 "Animations should not cancel parent animations"
1.4 has broken some important animations in my application. Apparently this is because ng-enter animations have been modified to cancel running ng-class animations on their parents, for some insane reason?

I have a container element with a router ui-view nested inside it. The container has an ng-class that sets 'active' on the container when a particular route becomes active, which is then used t

[2015-05-29 12:15] juristr commented on #11373
hmm..what if I get the same issue with `v1.3.15` ??? :unamused:

[2015-05-29 12:22] matthewjh commented on #11924
In my opinion `$timeout` and `$interval` should align exactly with `setTimeout` and `setInterval` in terms of what params they accept.

[2015-05-29 12:24] julien-f opened #11976 "Invalid boolean expression evaluation when accessing a property of an undefined value"
Let `foo` be `undefined`.

`{{true && foo || false}}` evaluates to `false` which is perfectly normal.

But `{{true && foo.bar || false}}` evaluates to `true`!!!

[2015-05-29 12:25] julien-f commented on #11976
Tested with Angular 1.4.0.

[2015-05-29 12:28] julien-f commented on #11976
Probably duplicate of #11959.

[2015-05-29 12:28] matthewjh commented on #11926
Maybe I'm misunderstanding something here, what makes you refer to &-bindings as one-way bindings?

Docs:
[code]

`$scope.foo` would be assigned a getter for the expression in the foo attribute. I don't really see how deep/shallow watches are applicable here if what's being watched is a string (the expression).

[2015-05-29 12:35] Narretz commented on #11976
Yep, duplicate

[2015-05-29 12:35] #11976 closed

[2015-05-29 12:37] Narretz commented on #11966
Yes, angular 1.x does introduce breaking changes in MINOR versions. This is explained here: https://code.angularjs.org/snapshot/docs/misc/faq

[2015-05-29 12:37] #11966 closed

[2015-05-29 12:38] gkalpak commented on #11926
There is no `$watch`ing involved in `&` bindings (neither deep, nor shallow).
@bcherny, could give an example of the issue you are running into or what your are trying to achieve ?

[2015-05-29 12:41] Narretz commented on #11975
Yesh, this happened in https://github.com/angular/angular.js/commit/c8700f04fb6fb5dc21ac24de8665c0476d6db5ef

It does seem very limiting. @matsko do you have an idea how this can be remdied?

[2015-05-29 13:08] lgalfaso commented on #11962
The performance improvements vary depending on your application. There are two different aspects
* The more *expression heavy* and the more complex the expressions, then the higher the benefits.
* Firefox is more aggressive in JIT-ing generated code, this implies that in micro-benchmarks numbers may look better

[2015-05-29 13:27] #11972 closed

[2015-05-29 13:34] TekVanDo opened #11977 "bug with directive "replace" property"
When i insert the value of attribute with same name as one of the isolate scope property into directive template. Space symbol is appended to scope property.
http://jsbin.com/bohicegaka/3/edit?js,console,output

[2015-05-29 13:59] SolStis86 opened #11978 "$location.absUrl()"
This is causing a full page reload rather than just the getter function as specified in the documentation: https://docs.angularjs.org/api/ng/service/$location.

im just using it as var absUrl = $location.absUrl()

[2015-05-29 14:08] kavi87 commented on #1515
+1

[2015-05-29 14:25] jhg commented on #11962
@chino23 What times run test in Firefox 38? A little times is more fast (1 for each 10, or less) but other time is more slow.
![captura de pantalla de 2015-05-29 12 08 44](https://cloud.githubusercontent.com/assets/1288711/7881533/ec2b3ffc-05fb-11e5-81d8-8e97554b1375.png)
![captura de pantalla de 2015-05-29 15 24 41](https://cloud.githubusercontent.com/assets/1288711/7884584/df554140-0616-11e5-993

[2015-05-29 15:38] 4success opened #11980 "Can't Authenticate using Basic Authentication in CORS"
Hello,

I'm using AngularJS v1.3.12 connected with a SAP Server that require basic authentication:

		$http({
			url	   : apiUrl,
			method : 'GET',
			withCredentials : true,
			header : {'Authorization'					 : 'Basic NFMuUi5PTElWRUlSOnAwazNyZjRjMw==',
					  'Access-Control-Allow-Credentials' : true,
					  'Access-Control-Allow-Origin'      : fixedConstants.basePath,
					  'Accept' : "text/pla

[2015-05-29 15:56] travisbmiller commented on #8538
@mgcrea - Thanks! This solved my problem with Safari flicker when using a slide in animation for a modal.

[2015-05-29 19:13] gkalpak commented on #10423
I think I was able to reproduce it (it's a much broader usecase - nothing to do with grunt server).

Basically, (I think) it happens when you have an empty `$location#path` and try to set a `$location#hash` during the initial bootstrap apply (e.g. in a `run` block, or during the instantiation of a controller).

[Live reproduction][1]

--
This is happening since v1.3.6 and the problem is (afaict) i

[2015-05-29 19:25] ivanreese opened #11983 "Please document the second parameter of ngTouch $swipe event handlers."
Currently, the [docs](https://docs.angularjs.org/api/ngTouch/service/$swipe#bind) say

They do not mention that there is a (helpful!) second parameter: the raw event object.

[2015-05-29 20:34] BirdInTheCity opened #11984 "$animateCss not working correctly webkit browsers."
I followed the [$animateCss documentation](https://docs.angularjs.org/api/ngAnimate/service/$animateCss) to build an accordion-style component with dynamic height.  The animation works fine in Chrome, but displays oddly in webkit-based desktop/mobile browsers.

The issue seems to be caused by removing the height property after the animation completes: `parent[0].style.removeProperty('height')`.  W

[2015-05-29 20:46] bcherny commented on #11926
according to the [docs](https://docs.angularjs.org/api/ng/service/$compile#-scope-):

is far as i understand this is referring to bindings like:

[code]

the first `ng-repeat` will re-render when a shallow equality check on `scope.foo` returns false. the second `ng-repeat` will re-render when a *deep* equality check on `scope.bar` returns false, which is less efficient than a shallow check.

[2015-05-30 05:09] eduncan26 commented on #5519
Any updates on this?

[2015-05-30 07:27] gkalpak commented on #11926
@bcherny: Not quite :)

You seem to be under the impression that there is one binding from the parent scope to the `ngRepeat`, but there are actually 2 independent bindings (in each case). Namely, there is a binding between the isolate scope and its parent scope (either `@`, `=`, `=*` or `&`) and there is a binding between the isolate scope and the view (e.g `foo` or `bar()` in this case).

`ngRep

[2015-05-30 07:48] wa-Nadoo commented on #11962
Test conditions: Revision 50, Core i5 3570K @ 4.0 GHz, 8 GB DDR3 @ 1866 MHz
![angular](https://cloud.githubusercontent.com/assets/1248501/7896174/5c1c4b7c-06b9-11e5-903d-12b29258209e.png)

[2015-05-30 08:31] LJWall commented on #4003
+1

[2015-05-30 10:36] chino23 commented on #11962
@wa-Nadoo why do you go back to 1.3.9 when there's 1.3.15 out?

Here's my Chrome result:
![screen shot 2015-05-30 at 6 34 57 pm](https://cloud.githubusercontent.com/assets/7042593/7896880/b4b72b12-06fa-11e5-9989-3c46e8c9ec1d.png)

And this is my Firefox:

![screen shot 2015-05-30 at 6 35 27 pm](https://cloud.githubusercontent.com/assets/7042593/7896884/bcd66b0a-06fa-11e5-8d7c-0f0008b2ce02.png)

20

[2015-05-30 10:54] wa-Nadoo commented on #11962
![angular](https://cloud.githubusercontent.com/assets/1248501/7896949/5c635494-06d3-11e5-89ee-a4a5c327f8c5.png)

[2015-05-30 10:57] Exlord commented on #11961
I fix my problem with this :
https://gist.github.com/Exlord/1fc5cd3f3c8d2eccdb5d

[2015-05-30 12:12] lgalfaso commented on #11962
First, I would like to stress that when running any test on jsperf, close everything else and if testing with Chrome, have only one tab in incognito mode. This is still not as good as a calibrated machine, but I think should be ok if you keep in mind that the noise to signal ratio can be substantial.

Updated the test from the original post, at version 51 there are the following changes:
* Uses ng

[2015-05-30 22:28] saiichihashimoto commented on #5900
+1

Is this still being worked on?

[2015-05-31 05:17] Guardiannw opened #11988 "ng-repeat doesn't seem to duplicate the event listeners for the DOM element."
I have a use case where i have a directive, and i have used ng-repeat inside the template.

[code]

I need to add an event listener for each individual card that is created.  I tried to do this by adding the event listener to the md-card element during the compile phase of the directive, but it appeared to be that the event listener was not carried over to each of the different cards.

I might not

[2015-05-31 05:46] Guardiannw commented on #11988
I think that the problem is in the copy of the transcluded element that the transclude function provides to ng-repeat.

[2015-05-31 05:55] Guardiannw commented on #11988
Perhaps this line num 7374.
[code]

It lacks the copying of all event listeners and events in general

[2015-05-31 06:01] yargalot commented on #11904
Been playing around with that [here](https://github.com/yargalot/Angular-HMR) for angular apps in webpack.

Seems to work with Directives and controllers, trying to get factory and services going.

[2015-05-31 08:36] gkalpak commented on #11988
I think you should be using the linking phase (either pre or post) or use an event-listener directive.

[2015-05-31 19:09] Guardiannw commented on #11988
The linking phase won't work because the ng-repeat directive has already been compiled, but has not yet duplicated itself.  Therefore, only a comment exists.  An event listener directive would work, but seems to be an unnecessarily large amount of coding just to toggle a class on a hover event.  I know there are other ways to do it, but event listeners seem the most appropriate.

[2015-05-31 20:43] jackhsu978 commented on #5519
I had the same issue. I found that it's because I had `<base href="/">`. Changing it to `<base href="">` fixes the problem. I tested on Chrome, Firefox, and Safari.

[2015-06-01 02:31] joshuakelly commented on #11978
Where are you trying to run this code?

[2015-06-01 04:29] chino23 commented on #11962
@lgalfaso Thanks for the update, I've tried version 51 and the results are what is in line with the statement that 1.4 is about 30% faster.

I know those micro-benchmarks aren't really how apps work, but I was still curious how the 1.4 used to be slower than 1.3. With this version now, it seems better :)

![screen shot 2015-06-01 at 12 25 39 pm](https://cloud.githubusercontent.com/assets/7042593/7

[2015-06-01 06:20] buihoanghai opened #11990 "Performance: angular.copy 1.2 vs 1.3"
I have a issue with performance. When I upgrade my app angular 1.2 to 1.3. The app run very slow when digest a big data. $digest in 1.2 just 3s but in 1.3 it take about 10s. I checked and saw angular.copy in 1.2 is run faster than 1.3 2-3 times. You can check it in: http://jsfiddle.net/hoanghaibui2003/0npr2sqn/2/

[2015-06-01 06:33] #11944 closed

[2015-06-01 06:37] #9962 closed

[2015-06-01 07:24] posixpascal commented on #11984
This is not only an iOS issue but rather a webkit issue.

[2015-06-01 07:57] Narretz commented on #11988
It's pretty difficult to say what the problem is without more context. A naive reproduction shows that it works with adding the listeners inside the link function: http://plnkr.co/edit/BSt7LHaiPmD7lTyTCDpd

[2015-06-01 08:40] PoOoZaQ opened #11991 "$compile of html including ng-include resolves in a comment only"
I have the following code working well with Angular 1.1:

[code]

The result I get is:
[code]
When I run this same code in Angular 1.3.15, the result is:
[code]

The first is the ng-include element, the second is just a comment.
I've read that this behavior makes sense as the first child is a comment and the second is the ng-include, but no idea how to make it work.

[2015-06-01 09:00] Guardiannw commented on #11988
I have updated the plunker to better reflect the usage.  Provided here: http://plnkr.co/edit/50SjuGaMKfxMIC8Ko83B

[2015-06-01 09:04] #11959 closed

[2015-06-01 09:05] lgalfaso commented on #11959
@SamuraiPrinciple thanks for reporting this! The fix landed and should be part of the next release

[2015-06-01 09:09] #11775 closed

[2015-06-01 09:36] lgalfaso commented on #11627
landed as a6339d30d1379689da5eec9647a953f64821f8b0

[2015-06-01 09:36] #11627 closed

[2015-06-01 09:38] gkalpak commented on #11988
@Guardiannw, In that you should either use another directive on the repeated elements or use the built-in `ngMouseenter`/`ngMouseover` directives.

E.g. 1:

[code]

E.g. 2:

[code]

[2015-06-01 09:45] Guardiannw commented on #11988
@gkalpak Ok.  After looking at your previous examples I think that would be the best way to go about it.  I think it is probably a better solution and does a better job separating concerns.

It is strange to me though that we don't copy event listeners during the transclude copy, is there any reason for this?  If not, it might be good to implement.

[2015-06-01 09:54] lgalfaso commented on #11962
I think this can be closed now. If there is anything else that needs some tracking, then feel free to reopen it.

[2015-06-01 09:54] #11962 closed

[2015-06-01 09:57] robertftw opened #11992 "Animate crash: Cannot read property 'runner' of undefined in 1.4.0"
[code]

I get it when using it with the following CSS:
[code]

Does not happen while using 1.3.15

[2015-06-01 10:08] SamuraiPrinciple commented on #11959
Indeed - just tried it on master and it works like a charm.

Much appreciated

[2015-06-01 10:43] Narretz commented on #11992
Can you please provide a reproduction in a plunker or similar?

[2015-06-01 10:59] SolStis86 commented on #11978
1.3.15 within the link object of a directive

[2015-06-01 11:05] gkalpak commented on #11991
It's hard to tell without more context, but it might be related to the fact that there needs to be a parent.
E.g. either appending the element before compiling it or wrapping it in a `<div>` might do the trick:

E.g. 1:

[code]

E.g. 2:

[code]

--
That said, why do you need that HTML ? It might be an indication that you are not doing things _"the Angular way"_ (but again it's hard to tell without

[2015-06-01 11:06] cmelion commented on #10007
+1 @jwcarroll  - "As @johnlindquist already mentioned, it's all about framing the argument, as it would seem nearly everyone here is in agreement that adding a .component() method as syntactic sugar over .directive() is highly desirable."

I've been using a form of the .component syntactic sugar on a couple projects over the last year or two and it's certainly helped my teams organize our applicat

[2015-06-01 11:41] PoOoZaQ commented on #11991
Hey @gkalpak thanks for your reply.
I'll work on a plunkr to best describe the scenario.

Meanwhile I'll give some context:
I have an infinite scroll list of items, when clicking an item it will open a dialog with their details (text, images, videos etc.)
I don't know which html I need to load (the items have 3 different sources, each source is displayed differently - the name of the html is chose

[2015-06-01 13:21] ryanhart2 commented on #11977
Is this a duplicate of https://github.com/angular/angular.js/issues/8132?

[2015-06-01 13:35] robertftw commented on #11992
I'll try, but might be difficult due to I found it in a large enterprise app when I updated to 1.4.0 so I had to revert back to 1.3.15 again.

[2015-06-01 14:31] vipin030 commented on #7042
Now I'm facing the same problem, I don't think it is a problem related to browser. Is there any way to tackle this problem?

[2015-06-01 14:38] PoOoZaQ commented on #11991
Not so sure why, but I solved it by dynamically creating a div element, injectings its html and passing that to the $compile.

Like this:
`var html = "<ng-include src=\"'" + templateUrl + "'\"></ng-include>";`
`var div = $('<div>');`
`div.html(html);`
`var newHtml = $compile(div)(newScope);`

[2015-06-01 14:38] #11991 closed

[2015-06-01 14:41] ximenean opened #11995 "Binding functions through nested directives with isolated scope failing in 1.4"
The 1.4 update seems to have introduced an issue when binding functions in nested directives. I have an example plunker: http://plnkr.co/edit/fQLY0N8BTNs38VC8ikll

Example code:

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function(){
       this.searchFunction = function(term) {
        console.log('you searched for ' + term);
      }
     });

     app.directive('out

[2015-06-01 14:47] matsko commented on #11939
This is now backported to 1.3.x: https://github.com/angular/angular.js/commit/0adc0364265b06c567ccc8e90a7f09cc46f235b2

[2015-06-01 15:23] BirdInTheCity commented on #11984
@posixpascal You're correct.  I've updated the post accordingly.

[2015-06-01 15:39] gkalpak commented on #11988
I don't really know what is the actual reason for not copying event listeners, but I wouldn't be surprised if it had something to do with performance and/or code complexity.

In any case, it doesn't feel very "Angular-ish" to do that (e.g. it is not declarative etc).
If you want to attach behaviour to an element, a directive is the right way to do it.
(Of course, you can always set up _one_ event

[2015-06-01 16:03] Guardiannw commented on #11988
Ya, your probably right.  I don't have any other use cases for this so it is probably ok just to forget about it.  I will go ahead and close this issue.

[2015-06-01 16:03] #11988 closed

[2015-06-01 17:32] Narretz commented on #11980
Have you tried if it works with jquery / pure javascript? Most of these CORS problems are not actually angular specific.

[2015-06-01 17:51] 4success commented on #11980
Yes, I have tried and isn't worked. The problem is related with autentication return that not have the Access-Control-Allow-Origin. So basically send a correct or invalid authentication always will be blocked by CORS.

[2015-06-01 18:28] Narretz commented on #11980
So it is not an angular problem and this issue can be closed?

[2015-06-01 19:19] redconfetti opened #11998 "ngAria module applies aria-disabled attribute to element when non-explicit false value is present"
Using Angular 1.4.0 - It appears that ngAria causes the ngDisabled directive to apply `aria-disabled="value"` even when the ng-disabled expression is not explicitly returning TRUE.

I discovered this when I was using an OR based expression like the following:
[code]

I found that while ngDisabled properly applies or unapplies the `disabled="disabled"` attribute to the button when this expression d

[2015-06-01 19:33] tkrotoff commented on #11616
+1, I have the same problem

[2015-06-01 19:50] mkowalchuk opened #11999 "XSRF mechanism is problematic on shared domains"
Angular's built-in XSRF protection mechanism seems to break down if you have multiple 'XSRF-TOKEN' cookies, because Angular's $http service only sends the first one it finds to the server, and that's not guaranteed to be the right one.

This can happen in shared-domain hosting environments, where multiple sites are hosted in different subdomains of the same domain.  For example, suppose that 'test

[2015-06-01 20:12] gkalpak commented on #11999
What I do in such cases is changing the default `xsrfCookieName`/`xsrfHeaderName` per app (see [`$httpProvider.defaults`][1]). Besides being much easier to impement (as it's builti into Angular), it should be more secure than accepting any valid token (if I understand the usecase correctly) ?

[1]: https://docs.angularjs.org/api/ng/provider/$httpProvider#defaults

[2015-06-01 20:31] mkowalchuk commented on #11999
That should protect you from accidental collisions (assuming you choose a distinct enough cookie name), but there's still some risk from malicious/intentional collisions.

[2015-06-01 20:55] gkalpak commented on #11999
Truth is I do it on domains I have full control over, so no malicious collisions for me :)
But how does sending all tokens protect you from that ?

[2015-06-01 21:03] gkalpak commented on #7042
@vipin030, could you elaborate why you don't think it is a browser-related problem ?

As explained elsewhere (and confirmed by @NateRedding), adding a explicit empty option solved the issue:

[code]

[2015-06-01 21:15] #11998 closed

[2015-06-01 21:31] sravenhorst commented on #11616
This issue is basicly this:

in Angular 1.4.0.beta.4 the ngMessages/for attribute were read in the (post)link function. Here the "dynamic" value was already parsed before read in the (post)link.

In later Angular 1.4.X versions, the value in the ngMessages/for attribute is already read in the controller function, where the attribute isn't parsed yet.

@Narretz, as you set the status of this issue:

[2015-06-01 21:32] gkalpak commented on #11995
You are not passing the arguments correctly. In `&` bindings, you have to pass an object specifying values for the various arguments. E.g.

[code]

Here is the [updated plnkr][1] that works.

--
This is **not** something new in 1.4, so your plnkr doesn't work properly on 1.3 either.
The difference is that in 1.3 it doesn't throw an error (it just calls the function with `undefined`).

I am not sur

[2015-06-01 22:04] ronaldjeremy opened #12000 "Cannot access Set-Cookie header in interceptor response"
Angular for whatever reason is stripping Set-Cookie headers out of the response object and response.headers() does not contain them.  But when you look at the raw response headers in Chrome, it shows Set-Cookie headers there, so they definitely are coming in to Angular.

$browser.cookies() is not an acceptable solution, for a few reasons including that it will not work inside of cordova+iOS

We ab

[2015-06-01 22:12] lgalfaso commented on #12000
I am sorry, but this is not an angular thing, this is how `XMLHttpRequest`. You just cannot access the `Set-Cookie` header. http://www.w3.org/TR/XMLHttpRequest/#the-getresponseheader()-method

[2015-06-01 22:12] #12000 closed

[2015-06-01 22:23] gkalpak commented on #11995
Yup, this is relatedto the new parser.

[2015-06-01 22:25] ronaldjeremy commented on #12000
In a regular browser you are correct, but inside of a native iOS app (we are using ionic) Set-Cookie headers CAN be accessed.  And you NEED to be able to access them in that context to interface with legacy web services that depend on sessions.  The following works in the context of cordova/iOS:

      var ajaxRequest = new XMLHttpRequest();
      ajaxRequest.open('GET', "http://somesite.com", tru

[2015-06-01 22:42] mkowalchuk commented on #11999
Suppose that these are your cookies:
'.test.com' -> '(malicious cookie)',
'.a.test.com' -> '(my valid cookie)'

Currently, Angular will send $http requests with 'X-XSRF-TOKEN' set to '(malicious cookie)'. At least, it seems to do that in Chrome and Firefox.

If Angular sent both '(malicious cookie)' and '(my valid cookie)', your server-side filter would have a chance to inspect both and see that o

[2015-06-01 22:46] mprobst commented on #11999
Just to be clear, the malicious scenario would allow an attacker who controls an app on a domain that your code runs under, or a sibling domain, to DoS your app, prevent AJAX requests from succeeding. There is no ability to tamper with or steal data.

[2015-06-01 22:47] ronaldjeremy opened #12002 "Cannot access Set-Cookie header in interceptor response"
Inside of an ionic cordova+iOS app, Set-Cookie headers CAN be accessed. And, because $browser.cookies() does not work in that context, we MUST be able to access the Set-Cookie headers to interface with legacy web services that depend on sessions.

The following low level javascript works in the context of cordova+iOS.  But Angular for whatever reason is stripping Set-Cookie headers out of the resp

[2015-06-01 22:56] bcherny commented on #11926
thanks for the explanation @gkalpak! makes much more sense now!!

[2015-06-01 22:56] #11926 closed

[2015-06-01 23:53] Guardiannw opened #12003 "Parent directive element doesn't wait for child animations to complete before being removed from DOM."
The issue occurs whenever I have at least two custom directives that are toggled by an ng-switch.  I listen to the leave event on the directive so that I can transition out some of the child elements before it removes the parent from the DOM and switches to the other directive.  NgAnimate is not waiting for the child animations to complete before it removes the parent from the DOM in order to disp

[2015-06-02 00:17] ignasbernotas opened #12004 "Illegal Invocation Error on Chrome 43.x and angular.js >= 1.3"
There is an issue with angular trying to call console.log.
[code]
I've drilled it down to line 12221 which is:
return logFn.apply(console, args); in consoleLog function.

Seems like Chrome does not allow calling apply on the console object.

[Chromium](https://code.google.com/p/chromium/issues/detail?id=167911&q=illegal%20invocation&colspec=ID%20Pri%20M%20Week%20ReleaseBlock%20Cr%20Status%20Owner%

[2015-06-02 01:12] gkalpak commented on #11999
@mprobst: Why not ? Doesn't it depend on your implementation ?

The way I understand it, the problem is that the malicious website could send requests to your app which look as coming from your wepsite (because it has access to your token). What is the result of these requests is up to your implementations (it could be anything from stealing data, to performing actions etc).

--
@mkowalchuk, the g

[2015-06-02 02:37] mprobst commented on #11999
@gkalpak if you restrict your cookie to your full domain name, it won't be sent to the attacker's domain. The only thing that's possible is that an attacker injects their own XSRF token into your requests, which at worst invalidates requests.

[2015-06-02 06:21] RickStrahl opened #12005 "ng-repeat with <option> binding issues"
I have an odd problem where I cannot get an `ng-model` value bound to a `<select ng-model>` to work against a list bound with `ng-repeat`. I can't duplicate the scenario in a [simple plunkr](http://plnkr.co/edit/YD8OXNHKk1M9C11X6Kae?p=preview).

This plunkr works, but the same code in an app with more complex layout fails with the first list displaying the wrong item in the first list. In my actua

[2015-06-02 07:24] dev33250240 opened #12006 "dynamic table row not fire click event."
Hi,

I have two td in my table. Dynamically I convert td to tr for collapse expand feature. Button with in dynamically created tr not trigger but its working in another td which was not dynamically created.

[2015-06-02 08:51] gkalpak commented on #11999
@mprobst, is (naturally) right :smile: Sorry, for the noise :disappointed:
(I just realized I was talking more about cases where the domain is the same and you are serving a different app on different paths.)

[2015-06-02 10:15] TekVanDo commented on #11977
yas it's duplicate.

[2015-06-02 11:14] JPtenBerge opened #12007 "ngAnimate disrupts correct validation of input type email"
Hi there,

With the newest version (1.4.0) it seems that email validation does not fully work correctly when the ngAnimate module gets included. Check out this Plnkr: http://plnkr.co/edit/mRvFhnpgZCKTI1YPWqkT?p=preview.

Try entering a value like '@@@', '|||' or 'qqq'. The model value only gets updated when a true valid value is entered, but the ng-valid/ng-invalid classes get applied wrongly. Rem

[2015-06-02 11:38] #11936 closed

[2015-06-02 12:24] ryanhart2 commented on #12005
There are some comments here that may be relevant https://github.com/angular/angular.js/issues/6088. Is there a reason you are not using ng-options?

[2015-06-02 12:39] douglascvas opened #12008 "ngMessageDefault - Add support for showing values not mapped with ng-message"
Many times it is necessary that we show a generic error message for unexpected values.
Would be nice to have something like:

[code]

This way, whenever there is an "error3" in "controller.errors", as it is not mapped, the value under the ng-message-default would be shown.

[2015-06-02 13:15] mattiacorvaglia opened #12011 "AngularJS throws error after 1.4.0 update"
After update AngularJS to 1.4.0 (with `bower update` command) I get this error in the console:
`Uncaught TypeError: $browser.addPollFn is not a function (angular.js:4390)`

[code]

[2015-06-02 13:40] jicasada commented on #1699
NgSilent was the solution for me.
Look at https://github.com/garakh/ngSilent

[2015-06-02 14:02] vipin030 commented on #7042
@gkalpak , I have added the explicit option tag into my selection tag, but the problem is still exist, I have tested in firefox and chrome, it is not working in both.

I have developed the same by using javascript for testing purpose, it is working fine on both the browser.

[2015-06-02 14:03] Narretz commented on #12006
Please ask support questions on these channels: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#-got-a-question-or-problem Also make sure to provide enough information, so that others can easily understand your problem.

[2015-06-02 14:03] #12006 closed

[2015-06-02 14:31] gkalpak commented on #7042
@vipin030, can you provide  the Angular code that is not working for you (or better yet provide a runnable demo, using CodePen, Plnkr, JSFiddle etc) ?

[2015-06-02 15:38] ryanhart2 commented on #11893
Any reason you are using version 1.0.1? I got your fiddle to work by using version 1.3.15 and adding the line ```myApp.controller('MyCtrl', MyCtrl);```

[2015-06-02 15:58] Pyo25 commented on #11373
I'm facing the same problem with Angular v1.3.15. The problem appeared when I deleted/re-installed all my bower dependencies (it worked with Angular v1.3.15 before).

To fix the problem I used this small hack that mocks the `$browser` service.
[code]

[2015-06-02 16:33] Guardiannw opened #12013 "ngAnimate's ng-animate-ref does not work when anchoring between 2 directive's templates"
I have two different directives that are toggled off an ng-switch, both of the directives have a template containing an image.  I am trying to anchor and animate this image so that when the switch is activated and toggles from one directive to the other, that the image will animate and go to the spot on the new directive.  It appears that it only anchors and animates correctly when navigating betw

[2015-06-02 16:51] ronaldjeremy commented on #12002
Facepalm.  After testing this in the context of actual cordova+ios, Angular does in fact pass along set-cookie headers to the response interceptor.  Please close this issue, my apologies!

[2015-06-02 16:51] #12002 closed

[2015-06-02 16:51] aug-riedinger commented on #11893
No reason indeed... I must have forked an old fiddle.

It means I haven't reproduced the bug because in my app, I'm using `1.3.13`. And I tried with it also, and it also works.

I guess I should close the issue as there are very few chances now I can reproduce the bug.

[2015-06-02 16:51] #11893 closed

[2015-06-02 17:01] #12011 closed

[2015-06-02 17:02] mattiacorvaglia commented on #12011
I solved updating also `angular-cookies` and `angular-resource` modules to 1.4.0

[2015-06-02 18:28] jardilio opened #12015 "$resource doesn't correctly resolve dot notation in URI parameters"
If a URI parameter contains dot notation to express a path to retrieve the value on the given object, then the $resource will correctly collect the key/value pairs via "lookupDottedPath" during "extractParameters", however it doesn't get applied correctly during "Route.setUrlParams". The issue is that spliting the url value on /\W/ results in breaking up the dot notation parameter into 2 separate

[2015-06-02 20:35] lgalfaso commented on #12004
Using Chrome 43.0.2357.81 OS X 10.10. The following works from the console
[code]

Also tried many of the variations and all work.

The bug that you point to talks about `console.log` not being bound to `console`, but that is not an issue with the code (and in fact, the bug report is quite old)

Do you have anything installed that would fiddle with `console` ?

[2015-06-02 20:35] csreddy commented on #11373
@Pyo25 - I'm facing exact problem like yours. Thanks for sharing the workaround.

[2015-06-02 21:23] lgalfaso commented on #12015
Dot notations nor any other form of reference was ever supported. This is opened as if this was a bug, while in fact, if this is requested, then if should be a feature request.

`$resource` is not the only library out there, how to other libraries behave?

[2015-06-02 22:02] aaronroberson commented on #11404
Can someone add the breaking change information to the following page:

https://docs.angularjs.org/error/$compile/ctreq?p0=ngMessages&p1=ngMessagesInclude

[2015-06-03 00:02] KeyKrusher commented on #11404
Sure I can do it.

[2015-06-03 00:21] jardilio commented on #12015
I classified it as a bug because the code specifically handles this situation and even names the function that does so as "lookupDottedPath", the value is correctly resolved in the parameters sent to the "setUrlParams" function, the error is simply in the way "setUrlParams" breaks up the url to inject the values.

[2015-06-03 01:41] chrisnicola commented on #2548
This still doesn't appear to be fixed in 1.4. Due to conflicts with ngTouch and FastClick that have appeared (particularly with hover styles) I've simply removed ngTouch altogether and gone with Fastclick alone as the solution. This doesn't seem like it's going to get fixed.

[2015-06-03 01:51] matsko commented on #11984
@BirdInTheCity I'm looking into it.

Note that:

[code]

Is not needed anymore with 1.4.0 final. You can also do this to avoid using the `doneFn`.

[code]

I'll also work on making `done()` chainable once the webkit issue is fixed.

[2015-06-03 02:18] matsko commented on #11984
So the problem here is that you have a CSS class called `.animated` which sits on the element being animated. This in turn causes the element to **always animate any style changes so long as the transition property is present on the element**. That being said, managing the `.animated` CSS class and the removal of the `height` property are out of context in terms of `$animateCss` so there's nothing

[2015-06-03 02:18] #11984 closed

[2015-06-03 02:20] matsko commented on #12013
Would you be able to create a demo for this? Testing with two directives was something that was left out unfortunately and I'm interested to see what's breaking it.

[2015-06-03 03:51] Guardiannw commented on #12013
Good news, I think that something was happening in my code that was outside of the affairs of ngAnimate.  When I tested under 2 different conditions, both seemed to work as expected.

The first condition is a simple ng-switch between 2 different directives portrayed here.
http://plnkr.co/edit/hh11FGNQmf1FBZqHsiRr

The second is more like the actual situation I had was using where I had an element

[2015-06-03 05:15] jirihelmich commented on #4776
Just experienced this. Handling undefined in a variable, which is assigned a result of a function that is documented to return undefined is not too much defensive, that should be something you just do.

[2015-06-03 05:46] KasraKhosravi commented on #5489
+1

[2015-06-03 06:34] sevinlim commented on #9128
Not sure if it helps but for me I came into the problem when using a tab view in another ion-view which can be taken over by other views. Navigating back to the tab states will give me the error you guys have been having. My fix was to use 2 $state.go. First one navigating to the 'tab' state and wrapping the other in a $timeout function with the tab state that i wanted to go to.

[2015-06-03 07:46] LucyGarrod commented on #12004
I am having this same issue on OSX 10.9 but not on OSX 10.10.
In my case the problem arises from `angular.copy(angularFireObject)`.
`angular.fromJson(angular.toJson(angularFireObject))` works fine, as does     `angular.copy(angular.fromJson(angular.toJson(angularFireObject)))`!
I hope that helps.

[2015-06-03 07:49] kpgarrod commented on #12004
I am having this same issue on OSX 10.9 but not on OSX 10.10.
In my case the problem arises from angular.copy(angularFireObject).
angular.fromJson(angular.toJson(angularFireObject)) works fine, as does angular.copy(angular.fromJson(angular.toJson(angularFireObject)))!
I hope that helps.

[2015-06-03 08:39] petebacondarwin commented on #11373
@Pyo25 and @csreddy - can you please provide an example of this failing in 1.3.15 - this will make it easier to provide an update to 1.3.x

[2015-06-03 08:45] just-boris commented on #7992
Now I can silently rethrow error using `$q.reject()`

[code]

But that means that all my services/controllers which use `$http` should include `$q`. This is a bit annoying. It would be better to propagate error using `throw` as well as other promise libraries do.

[code]
Now it calls `$exceptionHandler` and that means that it can't catch and suppress that error in further promises in chain.

[2015-06-03 09:53] #11980 closed

[2015-06-03 11:18] Narretz commented on #11348
Closing because of lack of response.

[2015-06-03 11:18] #11348 closed

[2015-06-03 12:01] juristr commented on #11373
@Pyo25 @csreddy Happened to me as well. When I deleted my bower dependencies and reinstalled them, it did no more work (while it did before). My 1st thought was an implicit Angular upgrade as well, but I also tried to downgrade to various other v1.3.x versions, which didn't solve the issue.
Given that (although that seems strange), it looks like the problem lies in one of the other bower packages.

[2015-06-03 12:22] Narretz commented on #12007
@matsko Wasn't there a similar bug that was already fixed? Or is this the same problem?

[2015-06-03 12:24] Narretz commented on #12007
This seems to be the same issue: https://github.com/angular/angular.js/issues/11652

[2015-06-03 12:36] shahata commented on #11373
@Pyo25 @csreddy @juristr can you please share the stack trace?

[2015-06-03 13:16] Narretz commented on #11977
`replace: true` is deprecated. As noted in the linked issue, this bug will not be fixed.

[2015-06-03 13:16] #11977 closed

[2015-06-03 13:19] Narretz commented on #11995
The new behavior is slightly better, because it shows you that you have an error. Just the message isn't that helpful.

[2015-06-03 13:27] Yimiprod commented on #5892
+1

[2015-06-03 13:28] Yimiprod commented on #6726
+1

[2015-06-03 13:43] juristr commented on #11373
@shahata It looks like this:

[code]

I never use Angular cookies explicitly. What I do in `user.service.spec.js` is to use the `$httpBackend`. As already mentioned by others, it seems like the `$httpBackend.flush()` call causes the error. For instance, `user.service.spec.js:151` in the stacktrace is where I invoke `...flush()`. Here's an excerpt:

[code]

[2015-06-03 13:47] vipin030 commented on #7042
@gkalpak , please check the below plnkr example, it is not working for me, The browser which I have tested is Firefox 37.0.1. Please let me know your thoughts.
http://plnkr.co/edit/2xSGeVPc9sKUz2SCcbZz?p=preview

[2015-06-03 14:10] gkalpak commented on #11995
I agree throwing is better (I wonder if it should documented as a breaking change; I lean towards _no_)

:+1: for a better error-message.

[2015-06-03 14:17] gkalpak commented on #12007
It is quite similar, but I don't think it is the same issue, because #11652 has been fixed ([demo][1]), but this one is still [reproducible on master][2].

Also, the wrong behaviour is different: This one seems to incorrectly apply the valida classes every 3 keystrokes, even if the value is invalid. Weird and interesting :)

[1]: http://jsbin.com/tiwijowiza/3/edit
[2]: http://plnkr.co/edit/3YyAnVQ

[2015-06-03 14:22] szimek opened #12020 "Angular 1.4.0 incorrectly evaluates some expressions"
Here's an example to reproduce this issue: http://plnkr.co/edit/XJlfdY1B0gEuepxpgiku?p=preview

The controller has defined these properties:
[code]

and in the template the following expression is evaluated to true, even though it shouldn't:
[code]
Switching the order of conditions (i.e. `onScope.some.property && myCtrl.onThis`) surprisingly fixes this issue. It worked correctly in Angular 1.3.x.

[2015-06-03 14:36] cyrilgandon opened #12021 "v1.4.0 : ng-change on select is invoked on load"
v1.3.15 : ng-change is not fired on load :  http://plnkr.co/edit/I26jnWOGGiGXNcAyoHg1?p=preview
v1.4.0 : ng-change is fired on load : http://plnkr.co/edit/lacekPRWRLBPuMD2Yrgs?p=preview

[2015-06-03 14:38] #12021 closed

[2015-06-03 14:54] alt- commented on #12004
I had a similar issue with the `equals` function in angular.js.
For me it was due to Chrome 43 changing how `VTTCue` works. Copies of `VTTCue` now throw Illegal Invocation errors when accessing attributes:
[code]
The exact same code works in Chrome 42.

[2015-06-03 16:44] gkalpak commented on #7042
@vipin030, I tried your demo on latest Chrome and Firefox and it works as expected.

--
Note that there is one difference between Chrome and Firefox in respect to when the select's value is changed:

1. Chrome updates the element's value as soon as a new option is selected.
2. Firefox updates the element's value only after the element is blurred.

The spec is somewhat unclear regarding that, stati

[2015-06-03 16:48] gkalpak commented on #12020
This has been [fixed on master][1]. (I think it's #11989.)

[1]: http://plnkr.co/edit/8KGo7WQxMS06Ys3sM6an?p=preview

[2015-06-03 16:48] #12020 closed

[2015-06-03 17:04] gkalpak commented on #12015
I think, mapping dotted paths to parameters is the `params` object's responsibility (else we wouldn't need it at all).
In your example, it should be:

[code]

[Updated plnkr][1]

--
It's definitely not a bug imo and as a feature I don't think it adds much (if anything).
@jardilio, is there any usecase that is not possible to support using the current implementation ?

[1]: http://plnkr.co/edit/7k6

[2015-06-03 17:05] csreddy commented on #11373
Here's my example, stack trace is similar to @juristr
[code]

[code]

[2015-06-03 18:14] RickStrahl commented on #12005
I suppose ng-options would work.

In general I don't use ng-options, if the data bound is simple. Using ng-options makes the above code (assuming I didn't have to do the $timeout() bit) more complex by requiring a handler to assign the value to the model as well as requiring the nasty, difficult to visually parse ng-options expression syntax.

Verfied that ng-options works as expected, but does ad

[2015-06-03 19:25] #11770 closed

[2015-06-03 19:32] Narretz commented on #12003
Did this work before 1.4.0?

[2015-06-03 19:51] shahata commented on #11373
@csreddy @juristr - Which version of angular-mocks are you using? I'm pretty certain you are using angular-mocks 1.4.0 with angular 1.3.15. Please make sure you are using the same version for angular and all of its modules.

[2015-06-03 20:13] juristr commented on #11373
@shahata Ya, that was it...damn, could have come to this conclusion by myself :blush:

Thx @shahata  for the hint :smile:

[2015-06-03 21:01] csreddy commented on #11373
Yes that was it :+1:  (_face palm moment_). Thank you!

[2015-06-03 21:03] sgwatgit commented on #5150
+1

[2015-06-03 22:32] Guardiannw commented on #12003
I never tested before 1.4 so I am not sure honestly

[2015-06-03 23:36] ryanhart2 commented on #12005
I updated the plunk to show the ng-options version side-by-side with the ng-repeat version.
http://plnkr.co/edit/YzXSYYzf6DG1cXrcDSgw?p=preview
I only had to add ```ng-options="type for type in vm.animalTypes"``` to the select element and then remove this line ```<option ng-repeat="type in vm.animalTypes" value="{{type}}">{{type}}</option>```

Not that it's important for this example, but I also c

[2015-06-04 00:57] geuis opened #12022 "Odd way of getting $formatters to run in a directive"
I spent hours reading through documentation, blog entries, and Stackoverflow questions to try and answer the question, "How do you get $formatters to run and update the view in directives?".

There is no clear answer that I could find. The directive demo on the [documentation page](https://code.angularjs.org/1.4.0-rc.2/docs/api/ng/type/ngModel.NgModelController) itself doesn't even use any of the

[2015-06-04 01:08] shafaiatul opened #12023 "Karma is not recognized as the internal or external command"
In order to run karma as part as an angular-seed project, use this command:

npm install -g karma-cli

[2015-06-04 05:01] IgorMinar commented on #11999
The impact of this issue can be categorized into two groups:

1. as @mprobst and @gkalpak mentioned, an attacker could use this issue to create a DoS for an app. But it would not be possible to use this issue for information theft.
2. two or more apps sharing a domain could interfere with each other if at least one of them publishes XSRF cookie on the shared domain.

As proposed, sending all the p

[2015-06-04 05:12] mprobst commented on #11999
@IgorMinar it might be worth mentioning as we discussed that implementing something like sending *all* cookies would allow recognizing and fixing the problem on the server side, but of course require server side changes for apps. At that point it might be easier to just change the cookie name, which is also a server & client side change, but likely less invasive.

With that in mind, even fixing th

[2015-06-04 05:29] #11930 closed

[2015-06-04 06:22] vipin030 commented on #7042
@gkalpak , Please check my demo code again
http://plnkr.co/edit/2xSGeVPc9sKUz2SCcbZz?p=preview

You can see two selection box  there, second one using our pure javascript to show the value, it is working on every browser regardless of the version

Note:
Firefox also  updates the element's value as soon as a new option is selected.( Please check my demo and let me know why angular is not performing

[2015-06-04 07:51] jakobmaier opened #12024 "Recursive $digest() loop produces invalid error message link"
When producing invalid linkage between scope values, the digest loop might run into an infinite recursion and aborts after 10 steps.

This correctly produces the following error message:

    Uncaught Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
    Watchers fired in the last 5 iterations: [...]

However, in my case, the following link has been produced to get further info

[2015-06-04 07:59] ryanhart2 commented on #12022
There are two open issues https://github.com/angular/angular.js/issues/11714 & https://github.com/angular/angular.js/issues/8194 related to improving the documentation for $parsers and $formatters.
There is also an open issue https://github.com/angular/angular.js/pull/10764 for a new ngModelController method that will allow $formatters to be run manually. I think that you would still need to call

[2015-06-04 08:41] gkalpak commented on #7042
@vipin030, both versions work as expected (each :smiley:).
The difference is that in your pure-JS implementation you use `onkeyup` (which is fired more consistently across browsers), whereas Angular is using `onchange` (which fires differently on FF vs Chrome).

If you want to update `onkeyup` instead of `onchange`, it is easy enough to write a custom directive that listens for the `keyup` event a

[2015-06-04 09:09] mmnaseri opened #12025 "Problem in parsing valid JSON responses"
I have this piece of code:

        $http.get('/entities/').then(function (response) {
            $scope.entities = response.data;
        });

wherein `/entities/` returns the following:

    [{
        "id": "2a7305fc-432e-4c30-9060-be54a4f473dd",
        "status": "WAITING"
    }]

and I get the following error:

This is happening with the following call stack trace:

I am using AngularJS 1.4.

[2015-06-04 09:13] #12025 closed

[2015-06-04 09:18] mafrost commented on #11992
I have the same issue in my large app when upgrading to 1.4.0, using ui-router if that could matter.

[2015-06-04 14:40] majache commented on #12024
Clicking the link takes me here
https://docs.angularjs.org/error/$rootScope/infdig?p0=10&p1=undefined which
seems on-topic with what you're talking about. How do you mean the link
doesn't work? Does clicking it not take you to the same url?

On Thu, Jun 4, 2015 at 3:53 AM, maja <notifications@github.com> wrote:

[2015-06-04 15:05] jakobmaier commented on #12024
I just checked it again and it seems to depend on the browser.
 * **IE 11** works (the parameter `p1` is set to undefined)
 * **Chrome 45** doesn't work and shows the message `ERR_CONNECTION_CLOSED`
 * **Firefox 36** doesn't load the site at all and ignores the url.
 * **Opera 29** doesn't work and shows that the website is not available.

It seems like this is a browser issue that is triggered wi

[2015-06-04 15:15] havenchyk opened #12026 "Unable to get property '$$ngAnimateParentKey' of undefined or null"
Hi, I catch error with angular 1.4 in IE 11. Chrome has some freezes on UI, but without exception in the console.

`Unable to get property '$$ngAnimateParentKey' of undefined or null`

I use ng-switch and ng-if only. Cannot reproduce it on jsbin, but problem exists.

[2015-06-04 15:24] dmackerman commented on #12026
Yeah, getting this all over our application as well. Downgrading to 1.3.15 fixes it.

[2015-06-04 16:35] mkowalchuk commented on #11999
@IgorMinar, good point - I didn't realize that the cookie storage could be flooded. It sounds like intentional cookie interference could occur just as easily with other cookies, e.g., session cookies, so the generalized problem isn't really AngularJS-specific. I guess there really does need to be a degree of trust in shared-domain environments.

[2015-06-04 16:51] IgorMinar commented on #11999
@mkowalchuk yeah, I think so too.

[2015-06-04 16:51] #11999 closed

[2015-06-04 19:40] Narretz commented on #12026
Do the actual animations work? Or is the app completely broken? Please try to isolate the buggy scenario, that would help a lot.

[2015-06-04 19:57] a-bronx commented on #8509
+1. I hoped to use the `transferResponse` to add pagination metadata to the array instance (e.g. a `.total()` function), but found that this metadata was not preserved down the pipeline as expected.

[2015-06-04 20:00] havenchyk commented on #12026
@Narretz animation is working and application is not completely broken. It looks like the previous animation still in progress and after invoking new one I get this error. I'll try to isolate this error.

[2015-06-04 23:01] neoGeneva opened #12029 "ngModel generates errors when in a form element with a ngController directive"
The following HTML snippet generates errors under 1.4.0, but works with 1.3.15.

ngModelDirective generates errors in ngModelPreLink because it inadvertently references myController rather than the expected FormController.

[code]

[2015-06-05 00:37] jfteppa opened #12030 "ng-repeat | limitTo :limit :begin"
the begin parameter does nothing!!!

[2015-06-05 03:03] catap opened #12031 "Missing `repository.url` at NPM metadata"
Good day!

When I try to deploy angular2 from NPM as webjar I had a error:
[code]

Typical all NPMs has a `repository.url` at NPM metadata, but here it is missed.

For example:
 - https://registry.npmjs.org/angular/1.4.0 has `repository.url`
 - https://registry.npmjs.org/angular2/2.0.0-alpha.26 hasn't `repository.url`

[2015-06-05 04:40] parliament718 opened #12033 "loading jquery after angular.js"
I'm experiencing an issue with ngDraggable library that is immediately solved by loading jquery.js AFTER angular.js. This issue: fatlinesofcode/ngDraggable#119 (comment)

Although doing so fixes all the issues with that library, is then breaks my entire code base (tons of console errors including a [Error: jqLite:nosel]).

Does the angular community have any insight into why this may be happening?

[2015-06-05 05:13] gkalpak commented on #12031
This repository is for Angular 1.x only.
Please, reopen on the Angular 2.x repository: https://github.com/angular/angular

[2015-06-05 05:13] #12031 closed

[2015-06-05 05:28] gkalpak commented on #12030
Yes, [it does][1]. Since the `begin` parameter was recently added, make sure you are using a version of Angular that supports it.

If you still have issues, please, reopen and provide more details (version of Angular, code sample etc)

[1]: http://codepen.io/ExpertSystem/pen/MwpMEb

[2015-06-05 05:28] #12030 closed

[2015-06-05 05:43] AbuBkr commented on #8905
After posting a question on stackoverflow.com, I got the brilliant idea to give my problem also a try on this topic. The solution in this topic helped me, but partially.

It seem that you guys get Angular routing working when running the app within a Juniper SSL VPN. What I do is simply loading a view ($location.path('/anotherView'); from a view controller. The routing table is also very simple:

[2015-06-05 05:44] gkalpak commented on #12033
Angular comes with a tiny subset implementation of jQuery, jqLite. If jQuery is loaded when Angular bootstraps, it will use that instead of jqLite. `angular.element` will then be an alias for `jQuery` (instead of `jqLite`).

jqLite tries to stay close, but it's not 100% API compatible with jQuery (and ad already mentioned it's a smaller subset of methods).

According to the issue yoy link too, lat

[2015-06-05 05:44] #12033 closed

[2015-06-05 05:47] IgorMinar commented on #11490
thanks for the awesome writeup!

[2015-06-05 05:48] #11490 closed

[2015-06-05 06:43] damiengenet commented on #12029
We have the same problem with 1.4.0, this worked fine with 1.4.0beta6 and 1.3.x versions.

[2015-06-05 08:46] Narretz commented on #12029
The important part is the return inside the controller. Probably caused by https://github.com/angular/angular.js/commit/9900610eea4ece87b063f2aa9d82c75c369927df

[2015-06-05 10:06] Pyo25 commented on #11373
Same for me, thanks @shahata !

[2015-06-05 10:25] xavhan commented on #12026
I don't think this is a browser dependent bug, I got it on Chrome 43 too.
I have not found right now what is causing it but, it happens on page with a fullcalendar view (https://github.com/angular-ui/ui-calendar). Maybe the two are related ?
I keep diggin'

[2015-06-05 10:34] havenchyk commented on #12026
Here is what I found so far in Chrome 43.

![Image of bug](http://i.imgur.com/hvN6yoS.png)

`$scope.selectedTab` is 'Default', so selected div element (at the bottom) should be hidden with 'ng-hide' class, IE 11 crashes after several clicks, but Chrome works fine for a while.

[2015-06-05 11:07] jardilio commented on #12015
You are correct, this can be closed, it just wasn't well documented. Thanks for the clarification.

[2015-06-05 11:07] #12015 closed

[2015-06-05 11:25] Narretz commented on #6379
This works now in 1.4.x http://plnkr.co/edit/W16slPNhU55zMa802Mv8?p=preview

[2015-06-05 11:32] szimek commented on #12020
@gkalpak Thanks! Will `master` branch become 1.4.1 release or is it safer to use `g3_v1_4` branch instead of the current official 1.4.0 release? This issue is really annoying, because our tests can't find all places where it occurs in our templates, so I'd like to use some version that has it fixed while waiting for 1.4.1 release.

[2015-06-05 11:40] Narretz commented on #9464
@ipoly the fix is only available in the 1.4.x branch

[2015-06-05 12:01] gkalpak commented on #12020
@szimek, `master` will eventually become `v1.4.1` (pretty soon I suspect).
(I'm not sure what `g3_v1_4` is for, but I think it's internal to Google.)

In the mean time, you could use the latest build (which is **not** and officially supported build yet, but has all the latest fixes/improvements). You can grab it from https://github.com/angular/bower-angular or https://code.angularjs.org/snapshot (

[2015-06-05 12:35] San4oPanso opened #12034 "Error at Angular 1.2 Copy"
Warning:
Attr child nodes are deprecated and will be removed in M45, around August 2015. Please use 'Attr.value' instead.
https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/4Hg0l42QHH0/H59LyoiJlI4J

angular.copy -> line: result = copy(source[key], null, stackSource, stackDest);
And error which i haven't seen before there
Error: Failed to read the 'selectionStart' property from 'HTMLInp

[2015-06-05 14:00] caitp commented on #12034
You won't be able to use `copy()` for DOM objects in Chrome in general anymore once M44 or M45 is reached, because they've fixed the bug of making IDL attributes own properties.

You should not be relying on `copy()` for anything DOM-related, it won't do what you want it to do, and is potentially unsafe.

[2015-06-05 14:03] #12034 closed

[2015-06-05 14:05] caitp commented on #12034
I would say we should throw an error, but there are so many DOM interfaces, and it's an ever-growing, hard-to-maintain list. So realistically all we can do is remind people not to do the wrong thing.

[2015-06-05 14:37] dmackerman commented on #12026
The bug in our case was we were trying set the `selectedIndex` (or whatever your selected bound model is) before the tabs compiled. Wrapping in a `$timeout` works, but feels kinda hacky.

[2015-06-05 15:38] abobwhite commented on #10165
I've just run across this issue. It appears this worked at one point as recently as last March via http://stackoverflow.com/questions/22248733/angularjs-form-validation-within-ng-repeat.

[2015-06-05 17:17] Narretz commented on #12022
Yes, there is currently no way to run the formatters programatically. We are looking into that (again) for 1.5.
When you look at the source, it's actually just that bit of code. You can use that in the meantime.
[code]

[2015-06-05 17:17] #12022 closed

[2015-06-05 17:20] Narretz commented on #12005
It works when you use `ng-value={{type}}` I assume the value attribute isn't interpolated  in time for the options directive to pick up the value. It's pretty strange that this doesn't work, since this is the most basic use case for select + ngRepeat.

[2015-06-05 17:23] Narretz commented on #12005
It also works when you use `<option ng-repeat="type in vm.animalTypes">{{type}}</option>` because the directive will use the text instead of the label. This is crazy.

[2015-06-05 21:16] Narretz commented on #11866
Hi @hena-3 feel free to submit a PR, we'll review it. Though JSON.stringify sounds a bit unperformant, but we'll see.

[2015-06-05 21:35] gkalpak commented on #10165
@abobwhite, can you provide a demo of what is not working ?

[2015-06-05 21:42] royaldark opened #12037 "Incorrect expression results with && and array and object access"
This issue affects Angular 1.4.0. The 1.3.x branch appears unaffected.

Expressions which contain a `&&` clause with a true thing on the left, and a `null`/`undefined` thing on the right which uses the form `obj[index].key`, return the true thing even though the second half of the `&&` was falsy. See examples:

Expression: `a[0].asdf && 72` (where `a` is `undefined`)
Expected: `undefined`
Actual:

[2015-06-05 22:02] gkalpak commented on #12037
This should have been fixed on master (by #11989).
@royaldark, could you please verify that it is indeed fixed when using the [latest build][1] and close this issue if it works as expected ?

[1]: https://code.angularjs.org/snapshot/angular.js

[2015-06-06 00:05] matsko commented on #12026
Could this be because of how `ng-if` and `ng-include` are both on the same element? Could you @dmackerman and @havenchyk please provide me with plnkr examples so I can test this out?

[2015-06-06 09:27] #11781 closed

[2015-06-06 10:21] dmitri777 opened #12039 "Cancelling *chained* animations does not really work in 1.4.0"
the command $animate.enabled(false) is not preventing promise function specified in ".then" part of animation statement from being executed. It starts eternal loop of successive calls.

Here is my simple Plunker:

http://plnkr.co/edit/MmEJfAfJ3k0cbImfD2qa?p=preview

First, you start chained animations by clicking a button. So far all runs fine.

Then you try to stop it ( $animate.enabled(false) ),

[2015-06-06 11:23] Narretz commented on #7070
Tracked in https://github.com/angular/angular.js/issues/10981 with more info

[2015-06-06 11:23] #7070 closed

[2015-06-06 11:58] Narretz commented on #11622
Yes, this seems to be a browser bug / odd spec behavior: http://plnkr.co/edit/ObAOxwgyubdM6KmKoWpq?p=preview

When you have picked a date, and then clear either year / month / day, the browser will fire an `input` event. When you clear the remaining fields, the event is not fired. This might be because after you clear the first field, the input value is already empty.

[2015-06-06 12:47] #11390 closed

[2015-06-06 14:15] #7222 closed

[2015-06-06 14:20] #5055 closed

[2015-06-06 14:25] Narretz commented on #4069
It has made it into 1.4!

[2015-06-06 14:25] #4069 closed

[2015-06-06 14:45] #3608 closed

[2015-06-06 14:47] Narretz commented on #3576
If you really need this,then you have to remove the initial directive from the template element before recompiling.

[2015-06-06 14:47] #3576 closed

[2015-06-07 06:44] parliament718 commented on #6251
This bug is also causing alot of havock in my application and I really don't want to resort to custom my-click directive for the most basic thing. I'm not using Angular Material libs.. only ng-touch. And I've just upgraded everything to angular 1.4 angular-touch 1.4 and very sad to see this bug wasn't fixed in such a milestone release.

[2015-06-07 09:19] nikkwong commented on #5489
+1—are there any valid workarounds for this?

[2015-06-07 10:20] jirihelmich commented on #4776
Here's my workaround based on what @YukonSaint suggested:

[code]

[2015-06-07 16:40] timjacobi commented on #10007
My proposal
* Use Class instead of DDO
* bindToController is now bind
* controller defaults to ComponentNameController (e.g. MyComponent -> MyComponentController)
* controllerAs defaults to "model"
* restrict defaults to "EA"
* scope defaults to {} (isolate scope)
* Components are registered using the .component method on an angular module instance
[code]

[code]

[2015-06-07 18:06] alexandernst opened #12045 "Changing interpolation characters in a controller."
Is it possible to change the interpolation characters in a function (inside a controller),  or is that possible only in the `.config()` method?

[SO question about this](http://stackoverflow.com/questions/30503000/using-interpolateprovider-startsymbol-outside-of-config)

This is Angular 1.3.15

[2015-06-07 20:24] webhat commented on #528
:+1:

[2015-06-07 23:41] brunocascio opened #12047 "$scope inside nested callbacks"
[code]

Note: I use angular 1.3.16

[2015-06-08 00:46] dagumak opened #12048 "$animate.enter for a compiled directive doesn't seem to animate"
I do realise there is a newer version of Angular, but am in a position where I can't immediately upgrade. However, I am using Angular 1.3.15 and I think this might be a bug. Correct me if I am wrong, or can someone explain to me why this not animating as expected.

http://plnkr.co/edit/iEVOxKxQKNI5f0ILhxk5

[2015-06-08 03:34] frekele commented on #2318
+1

[2015-06-08 04:54] dev33250240 commented on #12006
I am using a table structure and apply datatable.net to it. Table populating its row and column data by angularjs and there is also edit or delete button. All are working fine. as soon as i want to implement nested table i just put a hidden td and when we click on expand i dynamically convert td to tr. But dynamically created tr not support any angular event like click etc. Please guide us.

[2015-06-08 06:44] timo0 commented on #10892
I have a composite of first- and last name. in some cases the first name is empty/null. an empty string would be nice...

[2015-06-08 07:58] Narretz commented on #12045
This is only possible in the config phase, since it is global for the whole app. What's your use case for changing this in the controller?

[2015-06-08 08:12] alexandernst commented on #12045
@Narretz I have a directive that accepts a string as a template. That string contains some variables names that don't exist in the scope which is managing the directive, but in the objects that the directive is handling*. Each variable name is delimited by `{|` and `|}`.

Real world example: A dropdown-like widget filled with items. Each item's text is a string in the format `{| var1 |} {| var2 |}

[2015-06-08 08:25] Grandiz opened #12051 "$anchorScroll on root page"
Hi. I have some issue this anchors and html5mode. If i go for example to domain/foo#bar, this work properly, but if i want go to domain/#bar i get redirection to domain/bar

[2015-06-08 10:20] gkalpak commented on #12045
@alexandernst, fwiw, what you are doing now is much more concise and clear from temporarily replacing the interpolation symbols:

[code]

vs

[code]

I don't see much merit in being able to replace the symbols at runtime (not to mention the risks of failing to properly restore them).

[2015-06-08 10:24] gkalpak commented on #12051
@Grandiz, does `domain#bar` work as expected ?
(This sounds more like a `$location` issue, rather than `$anchorScroll` (but I'm not sure yet).)

[2015-06-08 10:25] havenchyk commented on #12026
It looks like using both on the same dom element is not a problem. But I still can't reproduce the issue on the jsbin. @matsko could you suggest the way how to emulate heavy $digest loop (I have 900+ watchers on the page, could it be a problem?)? :)

[2015-06-08 10:37] alexandernst commented on #12045
It makes less operations to do the trick, but it's unclear what I'm doing there. There could be more real-world examples for what I'm suggesting.

[2015-06-08 11:07] arsahmad commented on #11964
testing

[2015-06-08 11:24] Narretz commented on #12047
what is DB.messages()? It might be that the callbacks are not executed inside an angular app context, so you need to call `scope.$apply()`.

[2015-06-08 11:29] issoft-nsiniakevich commented on #11573
@gkalpak How can I do `not null` check in this way?
`{ someProperty: !null}` doesn't seems to be working
http://plnkr.co/edit/Apv2qqTGaWQMSpjywnyX?p=preview

`{ someProperty: ''}` it's working, but I don't think that it's very obvious not null check

in the 1.3.15 `{ someProperty: '!null'}` worked fine

[2015-06-08 11:32] Narretz commented on #11990
We don't really encourage using the built-in helper methods, because they are mainly for internal purposes. So it's unlikely that we will prioritize fixing these perf regressions.

[2015-06-08 11:55] Narretz commented on #11990
For what it's worth, it seems to be caused by supporting circular references since 1.3.0-beta.11: https://github.com/angular/angular.js/commit/083f496d46415c01fec6dfa012da63235d0996e4

[2015-06-08 12:03] qpitlove commented on #9332
:+1: @valente

[2015-06-08 12:13] Narretz commented on #12023
Is this a request to update the docs about this?

[2015-06-08 12:14] Narretz commented on #11978
Well, this should not happen. Can you provide a demo of the problem?

[2015-06-08 12:24] gkalpak commented on #11573
@issoft-nsiniakevich, I am afraid you should either use `{someProp: ''}` (which means _"match against any primitive value (except for null/undefined)"_) or use a custom filter function.
The 1.3.15 behaviour was a regression (introduced after a refactoring in 1.3.6), so 1.3.16 re-instated the "original" behaviour.

[2015-06-08 13:58] havenchyk commented on #12047
@brunocascio you probably need to invoke `$scope.$apply` for async operation of reading the date from database. Look at https://github.com/angular/angular.js/wiki/When-to-use-$scope.$apply()

[2015-06-08 14:53] brunocascio commented on #12047
Yes, definitely i need execute `$scope.$apply()`

thanks @havenchyk @Narretz

[2015-06-08 14:53] #12047 closed

[2015-06-08 17:32] Narretz commented on #11418
@petebacondarwin Actually this seems to be a systemic problem: the event params are also missing from location and ngInclude. Is it possible that dgeni is not rendering these?

[2015-06-08 17:51] bengro commented on #5453
We (@bengro and @tomwhoiscontrary) are seeing what we believe to be the same bug. Here are some test cases for handling of unstubbed requests which we believe should all pass:

[code]

The test for `verifyNoOutstandingRequest` fails. The documentation for `verifyNoOutstandingRequest` states that it "verifies that there are no outstanding requests that need to be flushed". However, if we make a req

[2015-06-08 18:49] lgalfaso commented on #12045
Changing the interpolation symbols after config has side-effects that I think everybody would like to avoid. The only option I think makes sense (even when I do not really like the idea) is to add an optional parameter to `$interpolate` to specify the begin/end tokens just for this interpolation. The main issue would be that this parameter would be its 5th...

[2015-06-08 18:53] pkozlowski-opensource commented on #12045
Hmm, why not add the `locals` argument to a function generated by $interpolate (and then use-case described here could be handled using a standard interpolation delimiters - if I understand the use-case correctly....)

[2015-06-08 18:53] alexandernst commented on #12045
Javascript is single-threaded, I can't understand how would changing the interpolation symbols affect annything else (if restored correctly, after doing what one needs to do). Care to explain a little bit?

[2015-06-08 19:23] #11903 closed

[2015-06-08 19:52] matsko commented on #12039
So it turns out that this works as expected. The reasoning is that even if animations are disabled, the trailing `then` callback is always handled. This is to allow directives to issue code to run after the animations are all over even if nothing runs or is detected.

So in this situation, the disabled state just skips the animation from running at all which then calls the then callback which then

[2015-06-08 19:52] #12039 closed

[2015-06-08 19:56] matsko commented on #10806
@jlowcs if this is still an issue (even with 1.4) please post a reply here. It's been almost half a year since any activity occurred on this. I'm closing it for now.

[2015-06-08 19:56] #10806 closed

[2015-06-08 20:14] dmitri777 commented on #12039
Thanks Matias for your explanation! I still have two questions related to this topic:

1) is there a way to freeze the animation that is currently underway, like, when it is 50% done? In my Plunker, as you can see, freezing is not taking place, and putting "if" into "then" block will obviously not change anything. JQuery, for example, has "stop" method that has corresponding flags to control it.

[2015-06-08 20:42] lgalfaso commented on #12045
Would it be possible to understand why not just use the standard `{{` and `}}` symbols?
The only change would be to change this [line](https://github.com/alexandernst/angular-multi-select/blob/9c4d66e7ff4c76569d621bf66c00705fa038eb66/src/angular-multi-select.js#L281) to

[code]

[2015-06-08 20:45] mgerring commented on #1434
Yeah, this is absurd, I'd like to be able to write e2e tests without having to rely on a real API

[2015-06-08 21:43] alexandernst commented on #12045
@lgalfaso That won't work as the `itemLabel` is set inside the directive, like this: `<div item-label="{| var1 |}"></div>`, if I do it with the normal angular brackets, angular will try to interpolate that.

[2015-06-08 22:27] lgalfaso commented on #12045
@alexandernst `var _fmt = element.attr(attrs.$attr.itemLabel);` should be able to retrieve the uninterpolated attribute, at least within `link`. I did not dig too dip into this directive implementation so I do not know when is this function called, but that aside, this mechanism is provided exactly for this.

[2015-06-08 22:57] alexandernst commented on #12045
@lgalfaso I just tried, but that is returning empty strings. Does that requires Angular 1.4?

[2015-06-08 23:24] lgalfaso commented on #12045
Angular 1.4 is not needed. Now, this is somehow off topic as this is not really an issue with Angular.. If you would like to keep this conversation, please put a plunker together and we can continue this on StackOverflow.

Trying to go back to the original issue that caused this issue, I think there are other means to achieve this so I lean towards "wont fix".

[2015-06-09 01:18] graywithanA opened #12053 "Directive's element.$destroy callback not called on iOS"
I've got an app running 1.3.15 and using UI-Router to manage states.  I've created a directive which uses a $destroy event listener on the directive's element.  I'm declaring the event listener in the directive's link function.  When navigating to a new state the this is working fine on all devices except those running iOS.  Switching the event listener to listen for the directive scope's $destroy

[2015-06-09 02:07] philBrown commented on #5146
FYI, it's undocumented but each *action* config can add the `paramSerializer` which you can use to transform query parameters, eg

    {
        get: {
            method: 'GET',
            paramSerializer: function(params) {
                // do stuff to params
                return $httpParamSerializer(params);
            }
        }
    }

[2015-06-09 04:48] gkalpak commented on #12045
Angular provides a way to escape interpolation symbols:

[code]

I can't test it right now, but you should be able to make it work without needing to swap the intetpolation symbols or replace them in `_fmt`.

[2015-06-09 04:55] gkalpak commented on #12053
Could it be that iOS is **not** destroying the element for whatever reason (perf, leak, ...) ?
I don't know much about iOS, but this might not be an Angular issue.

[2015-06-09 07:05] alexandernst commented on #12045
@lgalfaso Fair enough. Please check http://stackoverflow.com/questions/30725108/passing-format-string-to-a-directive-and-interpolating-it (includes a demo showing the problem).

@gkalpak That doesn't work. Please check my SO question and the demo from plunkr.

[2015-06-09 07:08] jmaynier commented on #12053
I have memory leak also only on iOS 8. I also use ui router ans the memory seems to be never released until the app crash (ionic + ui-router).

[2015-06-09 07:43] lgalfaso commented on #12045
Answered at SO

[2015-06-09 07:43] #12045 closed

[2015-06-09 08:14] gkalpak commented on #12045
@alexandernst, I had misunderstood the usecase. I added an alternative approach on SO (there are other ways of doing it, based on the exact requirements, but swapping interplation symbols shouldn't be one of them).

[2015-06-09 08:36] alexandernst commented on #12045
@gkalpak I saw your answer, but the question here isn't about evaluation math expressions, but about rendering items. I'll update my SO question, please check it again. /cc @lgalfaso

[2015-06-09 09:54] lgalfaso commented on #12045
I see that you already changed it with https://github.com/alexandernst/angular-multi-select/commit/dd306338b68dcf7f9f17cba5281af7bc8c15e4eb

BTW, you can reuse the result of `$interpolate(...)` as that construction is not super cheap

[2015-06-09 09:58] alexandernst commented on #12045
@lgalfaso You mean save the result of `$interpolate(...)` and just to `_savedResult(obj)` in my `_createLabel` function?

[2015-06-09 10:01] lgalfaso commented on #12045
yep

[2015-06-09 10:02] nodohoung opened #12055 "ng-model does not update selected radio input value on specific Android version"
I am developing an angular - webview based android app. It targets on Lenovo A536 (Android 4.4.2).
I used the following template:

[code]

Everything is working fine on my HTC One X+ (Android 4.2.2).
**But on Lenovo A536**, the model value `test.answer` is not updated (remained undefined) when I select a radio button (radio button has displayed checked) _within a few seconds_ after the page loaded

[2015-06-09 10:07] alexandernst commented on #12045
@lgalfaso Done :) Thanks for the tip!

[2015-06-09 10:34] agjs opened #12056 "Uncaught TypeError: $browser.addPollFn is not a function"
Hey there guys.
I've tried to upgrade to ng 1.4.0 and after I did so I got:

Uncaught TypeError: $browser.addPollFn is not a function

Currently I had to downgrade do 1.3.6 until I realise whats the issue. Tried to Google the issue but no luck with responses.

Thanks in advance,
Alek

[2015-06-09 10:36] cionescu opened #12057 "ng-if doesn't parse typeof right"
ng-if doesn't parse typeof statements correctly

**error:**
Syntax Error: Token 'e' is an unexpected token at column 8 of the expression [typeof e != 'boolean'] starting at [e != 'boolean'].

**Code:**
[code]

where the entries array is defined as [0, 1, 2, 3, true, 5, 6, 7, 8, 9]

[2015-06-09 10:39] agjs commented on #12056
Problem is solved by updating angular-cookies and angular-resource both to 1.4.0

[2015-06-09 10:54] Alexggp opened #12058 "IE invalid argument error"
I get this error only in IE11. In chrome and firefox it works fine. I've read this is produced because of placeholders, I've tried "ng-attr-placeholder", but it doesn't seem to work, so I tried deleting all the placeholders even deleting the content of the view and it still happens.

Error: Invalid argument.
   at interpolateFnWatchAction (http://localhost:4000/companies/bower_components/angular/a

[2015-06-09 10:57] pkozlowski-opensource commented on #12056
Yes, you need to use all the files from the same release.

[2015-06-09 10:57] #12056 closed

[2015-06-09 11:28] gkalpak commented on #12058
At the very least you should provide a runnable demo that reproduces the problem (e.g. using CodePen, Plnkr, JSFiddle etc).

[2015-06-09 11:30] NicBright opened #12059 "Scope inheritance issue with isolating scopes (regarding $parent, not the prototypal inheritance)"
Hi there,

I'm not exactly sure whether this is intended behaviour or not. At least for me it looks odd.
The thing is, that an isolated scope of a directive that has only an isolated scope (and no template/templateUrl and no transclusion defined) is not considered as a $parent for child scopes inside that element. This makes it impossible to $broadcast down events (or $emit them up to this particu

[2015-06-09 11:32] ali-bugdayci opened #12060 "in 1.3.16 ng-repeat filter changed from not filtering the absent fields to filtering them"
in 1.3.15 we have working code like this:

[code]
where the ng-view included can see and use the vm object.

Update to 1.3.16 breaks this and ng-view creates a new scope object. Hence the vm used inside the included code is not same object.

[2015-06-09 11:36] nejigane commented on #12004
On Chrome 43, the following part in angular.copy(>=1.3.0) seems to be illegal for some prototypes such as SVGMatrix, VTTCue.
[code]

[code]

[code]

[2015-06-09 11:37] gkalpak commented on #12057
`ngIf` evaluates [Angular expressions][1] (not JavaScript expressions) against the current `Scope` (not the global context, e.g. `window`). Things like `typeof` are not available on the `Scope` (nor are they supported in Angular expressions), thus you get an error.

You proper way to do it, is define a function on the `Scope` and then call is from the view:

[code]
[code]

[Demo pen][2]

--
That s

[2015-06-09 11:37] #12057 closed

[2015-06-09 13:04] Alexggp commented on #12058
I can't show you a demo because it's a very big proyect, this is part of the configuration, any help?

    .state('promoEdit', {
        url: '/promos/promo/edit/:id',
        resolve: {
          promoResolve: promoResolve,
          storesResolve: storesResolve,
          regionsResolve: regionsResolve,
          editResolve: function() {
            return true;
          }
        },
        v

[2015-06-09 13:10] pkozlowski-opensource commented on #12058
@Alexggp we are not asking for the entire project, just a minimal reproduce scenario. You basically need to narrow down the problem and send a plunker demonstrating the issue. Without this the chances of understanding (and eventually fixing) the issue are very slim.

You are in the best position to provide the reduced reproduce scenario as you are in charge of the app.

[2015-06-09 13:32] Narretz commented on #12060
There is nothing in 1.3.16 that should affect `ng-include`. Can you please provide a demo of the problem?

[2015-06-09 13:37] Narretz commented on #12055
So it seems to be a problem with the device, not with angular. What version does the embedded webview have? Is it different?

[2015-06-09 13:58] mrbinky3000 commented on #6726
+1 for this issue

[2015-06-09 14:00] jayoungers opened #12062 "ngShow - 1.4 behavior"
Has anyone else run into issues with ngShow in 1.4?  This problem is only occurring for me on a single page, so I'm not sure if I can reproduce it in a jsfiddle.  If no one else has been seeing this, I'll try to delve a little deeper to determine why this specific situation is triggering the problem.

My markup looks like so, with the expression pieces of my ngShow printed out in the html prior to

[2015-06-09 14:27] havenchyk commented on #12026
@matsko I still unable to reproduce this issue out of the scope of my application. Can I help with anything else here?

[2015-06-09 15:10] alarv opened #12063 "Directive within ng-if won't run"
I have a custom directive ```myDirective``` that performs a task on an element.

I have this directive in an ng-if block
[code]
Something like this fiddle: http://jsfiddle.net/hGnvv/ only the ng-if condition turns to true after my $http requests are loaded.

The directive is probably compiled during runtime, but never linked, so the code never runs. If I replace the ng-if by ng-show the directive

[2015-06-09 15:27] pkozlowski-opensource commented on #12063
For me it works as expected, see: http://jsfiddle.net/kuj4bjz9/
In short: directives are not linked till you've got instances of those in the DOM. ngIf will remove / prevent elements from being inserted in the DOM thus no linking function.

BTW: you are using a really ancient version of AngularJS (not that it matters for this use-case).

Closing, as it works as expected.

[2015-06-09 15:27] #12063 closed

[2015-06-09 15:30] Narretz commented on #12062
Can you please test with the latest snapshot? http://code.angularjs.org/snapshot/angular.js

[2015-06-09 15:46] jayoungers commented on #12062
It looks like the problem is still there against that version as well.

My guess is it's some sort of timing issue:  the page has a group of "customizations" it can display, so if I switch from the first "SelectedCustomization" that I select to another, and then back to the original one, it will correctly display - it's as if the first time the directive this code is contained in is loaded, this p

[2015-06-09 17:20] matsko commented on #11975
Yes I'm working on a full fix. It should be ready towards the end of the week and in time for 1.4.1

[2015-06-09 17:30] jayoungers commented on #12062
I think I'm going to close this for now.

I narrowed the problem down to the directive referring to a saved `$http` promise that had already been run.  If I use a new `$http.get` call the issue goes away, or if I use the existing promise object and wrap the logic in a `$timeout` the issue also goes away.

For the life of me, though, I was not able to find a way to reproduce it such that the inline

[2015-06-09 17:30] #12062 closed

[2015-06-09 17:45] matsko commented on #12026
Alright. I'll spend some time creating a reproduction, but please also try to continue your investigation. Hopefully we can get to the bottom of this.

[2015-06-09 18:16] nodohoung commented on #12055
I don't know how to check version of the embedded webview. But I think it's the default android webview engine shipped with the Android OS.

My webview setup:
[code]

I tested on several phones (Lenovo A536), all ran into the problem. I don't have any other Android 4.4.2 device to check if the problem is from Android OS version or it is device specific.
My HTC phone is running Android 4.2.2 and it

[2015-06-09 18:31] havenchyk commented on #12026
Sure, I will continue, thank you.

As a point, could the problem be in the time of evaluation digest loop? I've already mentioned, but there are 900+ watchers on the page and the problem is only reproducible on the re-initialization of the huge controller with a lot of ng-if and ng-include directives in the template.

[2015-06-09 20:23] Narretz commented on #11418
@petebacondarwin It's not a dgeni issue yet, since I am not sure if it is actually a dgeni problem.

[2015-06-09 20:26] Narretz commented on #11924
I am pretty sure we don't want this. `setTimeout('functionString()', 1000)` is bad practice, akin to using eval(), which is exactly what angulars expression parser / scope tree tries to prevent.

[2015-06-09 20:26] #11924 closed

[2015-06-09 21:15] Narretz commented on #11602
@RogerJFX would you mind sending a PR with this change and a test for it?

[2015-06-09 21:17] Narretz commented on #11700
Clo

[2015-06-09 21:17] #11700 closed

[2015-06-09 21:40] Narretz commented on #11468
Works in 1.4.0: http://jsfiddle.net/xQ9Mu/9/

[2015-06-09 21:40] #11468 closed

[2015-06-09 22:02] mikepugh commented on #8905
@AbuBkr I ran into something very similar, and it was related to ngRoute basically trying to load a few dozen instances of my controller based upon my route definition.

Let me state early on - I do not know the root cause.

The code where I saw this happening, was when I had a button with an ng-click="someFunc()" method, and that someFunc() method made a call to $location.path(..).

If I switched

[2015-06-09 22:45] funkflute opened #12066 "Having custom Object.prototype method prevents form validation"
I'm running into this issue that if I set a custom Object.prototype method, it stops form validation from updating:

    <!DOCTYPE html>
    <html lang="en">
    	<head>
    		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    		<title>Test</title>
    	</head>
    	<body ng-app>
    		<form name="testForm" novalidate>

    			<input type="text" name="test" ng-model="test" req

[2015-06-09 23:34] ali-bugdayci commented on #12060
Hi,

Thanks for the fast response. As you have mentioned the problem was from the change in the "filter filter" implementation.

In 1.3.15,  if the filter object values are absent in the data, the data passes through ng-repeat.

In 1.3.16, if the filter object values are absent in the data, the data is not passed from ng-repeat

Check the plunker: http://plnkr.co/edit/5WSyJIlnxRmwkY8wk590?p=previe

[2015-06-09 23:49] ali-bugdayci commented on #12060
Should omit the blank strings when implementing this feature to make it backwards compatible:

filterFilter: fix matching against null/undefined (9dd0fe35, #11573, #11617)

[2015-06-10 01:58] mouradhamoud commented on #4003
+1

[2015-06-10 03:59] ryanhart2 commented on #12066
Here is a plunk http://plnkr.co/edit/XauBqEKawyDyk21RFc1r?p=preview demonstrating the behaviour (the prototype method is set in script.js). The issue seems to have started in version 1.3.0-rc.1 so that is what I have used in the plunk.

[2015-06-10 05:31] joebnb opened #12069 "route has problem"
[code]
the angular rout next.originalpath will match #tid=1315731 and it will crash on permisson and no jump,i think angular should be just match the path between first and second #

[2015-06-10 06:38] alexandernst opened #12070 "Restart/reload Angular app"
I'm working on a project with Yii2 and Angular. The structure of the code is as follows:

[code]

The page contains a header and a column on the left and a center area which is rendered inside the .body-content div. Now, as you can imagine, I have some buttons in there, some other angular widgets, etc..

Yii2 has a really cool feature called renderPartial that will re-render a view file without wr

[2015-06-10 07:32] gkalpak commented on #12069
I am not able to reproduce it (based on the provided info).

@joebnb, could you provide a runnable demo of the issue (e.g. using CodePen, Plnkr, JSFiddle etc) ?
This might depend on a number of things (e.g. version of Angular, `$routeProvider` configuration etc).

<sub>(You could use [this pen][1] as starting point.)</sub>

[1]: http://codepen.io/ExpertSystem/pen/gpRprm?editors=101

[2015-06-10 07:55] pkozlowski-opensource commented on #12070
You would have to $compile and link the content returned from the server. You might check this SO answer to learn more about various services in AngularJS that are used to process template content: http://stackoverflow.com/a/17901134/1418796

Closing, as this is a general support question that should be asked using a dedicated support channel: https://github.com/angular/angular.js/blob/master/CONT

[2015-06-10 07:55] #12070 closed

[2015-06-10 08:05] tamtakoe opened #12071 "Naming conventions. Starts controller name with lowercase letter"
Why controller name starts with capital letter? Resource starts with capital letter because it is class, that returns instances. Controller is ordinary function and must begin with lowercase letter like most of services.

[2015-06-10 08:08] pkozlowski-opensource commented on #12071
Controller function is a constructor function that is used to create controller instances. It is a common practice to name constructor functions starting with upper-case.

[2015-06-10 08:45] dragosrususv commented on #9159
Finally, are we able to achieve this in any way? Because manually copy-pasting 'number' filter functionality from angularjs into our own app seems like a brutish way of doing things.

At some point there was a commit implementing some $stateful functionality for filters, like:

    $provide.decorator("currencyFilter", function($delegate) {
      $delegate.$stateful = true;
      return $delegate;

[2015-06-10 09:49] #5853 closed

[2015-06-10 10:00] lgalfaso commented on #12071
Hopefully that solves the issue :)

[2015-06-10 10:00] #12071 closed

[2015-06-10 10:05] lgalfaso commented on #12060
If you need to put a value on a filter so it gets ignored, then it should be set to `undefined`. Eg `ng-repeat="datum in vm.data | filter:{absent: undefined}"`.
Sorry that this is causing you trouble, but the behavior at 1.3.16 is the correct behavior.

[2015-06-10 10:05] #12060 closed

[2015-06-10 10:40] BiohZn opened #12073 "Linky does not work with case-insensitive schemes"
According to RFC 3986 (http://tools.ietf.org/html/rfc3986#section-3.1) scheme such as http or mailto are case-insensitive. So links such as http://server/ and HTTP://server/ are valid and equivalent.

However, the linky filter recognizes only links with lowercase schemes as links. While http://server/ will be recognized as a link, HTTP://server will be not.

NOTE: This is a duplicate of #3210

[2015-06-10 10:47] lgalfaso commented on #12066
The check that there are no errors in the errors object was not checking that any of the properties comes from the Object.prototype. #12075 should take care of this

[2015-06-10 11:01] joebnb commented on #12069
thanks for watch,i'm chinese,i‘m afraid of jsbin jsfiddle,the goverment hijacked DNS,
i could writen the detail of requirement
[code]

[2015-06-10 11:10] ali-bugdayci commented on #12060
No no. Have you checked the plunker I send? To make it more discrete I am outlining a usage scenario:

* Go to :
http://plnkr.co/edit/E5WhPwmocYNukQhJzmzX?p=preview

* At first the search field is null. And 1.3.16 is displaying them all.
* Write something to the search field like 'a'
* Then delete the search field input
* This time the search is blank string
* 1.3.16 is just displaying one of them

[2015-06-10 11:23] gkalpak commented on #12069
You could at least share the exact code that one can use to reproduce the issue.
What is your `$routeProvider` config ? What version of Angular are you using ?

[2015-06-10 11:34] gkalpak commented on #12060
@ali-bugdayci, this is unfortunately how `filterFilter` works (which is indeed kind of unexpected in some cases). Note that the change between `1.3.15` and `1.3.16` was intentional in order to fix an old regression introduced during a refactoring in `1.3.6` (so basically, `1.3.16` restores the original behaviour of `1.3.5`).

In cases where you want to avoid an emty search field resulting in case-

[2015-06-10 11:37] petebacondarwin commented on #12073
@BiohZn - would you like to make a PR from your commit with an appropriate unit test?

[2015-06-10 11:47] ali-bugdayci commented on #12060
@gkalpak
The problem with search field is that, in big projects it is most of the times an object not a string. Like we have different input fields where we aggregate the search object.

If you are aware that it works like this and ok with it, than I have nothing to say. But from my users point of view I believe the scenario I described is not acceptable. Seems like I will be sticking with 1.3.15

[2015-06-10 11:58] BiohZn commented on #12073
@petebacondarwin I'm not 100% comfortable with making unit tests, but I can add some, yes.

[2015-06-10 12:08] petebacondarwin commented on #12073
Magic. It is fun to get outside your comfort zone. I will help you as you need it. Take the tests in https://github.com/angular/angular.js/commit/7fef06fef9b6af4436f9fed10bd29d0a63707614 and https://github.com/angular/angular.js/blob/master/test/ngSanitize/filter/linkySpec.js#L27-L36 as starting points.

[2015-06-10 12:50] BiohZn commented on #12073
@petebacondarwin one misconfigured git commit later, it should now be ok

[2015-06-10 13:27] gkalpak commented on #12060
This is has come up a few times and we (I) are aware of this. I don't say I am against changing it, but it will be a breaking change. I am definitely open to discussion, though.

Luckily, Angular is too flexible for you to have to stick to `1.3.15` for a long time, as it provides several ways of making things work the way you like. Off the top of my head:

1. A special `ngModel` parser that conver

[2015-06-10 13:31] matt-d-rat commented on #11904
+1 ideally we need something that can hook into the entire AngularJS ecosystem, so whether I change a directive, controller, a property on scope or a template used, we should be able to hot load those changes into the application.

[2015-06-10 15:18] ali-bugdayci commented on #12060
@gkalpak  Yeah you are right. May be the best way would be to configure the filterFilter with a filterprovider and choose how you want it to behave.

[2015-06-10 15:21] quantumwannabe opened #12076 "ngOptions slow in IE with large arrays"
I have a 500+ element array which I want to bind to a `<select>` element.
In Chrome, this works fine, adding the array takes a fraction of a second.
In IE, it takes multiple seconds to add the array, during which time the UI is unresponsive.

Looking at timelines, it appears that Chrome recalculates styles after all `<option>` elements are added, but IE calculates styles and layouts after each `<o

[2015-06-10 15:26] gkalpak commented on #12060
@ali-bugdayci, what would that filterProvider allow you to do which isn't already possible ? Do you mean something like offering a config flag to enable ignoring empty strings ?

BTW, there is no such thing as "provider" for filters, but we might be able to attach some properties on the filter itself.

[2015-06-10 16:59] orsonjones opened #12077 "Dynamically disabling of radio buttons not working."
I'm trying to work with a list of radio buttons where some of them need to be dynamically enabled/disabled. Here is an example: http://jsfiddle.net/51fce7bs/ In the example, when it first initializes the radio buttons, everything seems to be working correctly. After clicking update (trying to enable second and disable third) the text and css are updated, but the radio buttons don't change their di

[2015-06-10 17:03] pkozlowski-opensource commented on #12077
`ngDisabled` takes an expression and not interpolation, so you need to write: `ng-disabled="thing.disabled"`: http://jsfiddle.net/oocx2zz4/

[2015-06-10 17:03] #12077 closed

[2015-06-10 17:14] Narretz commented on #12055
The webview basically uses the Android or the Chrome browser engine. It should be possible to the get the version number of that.

[2015-06-10 17:23] RogerJFX commented on #11602
Ok, I can do this. Anyways one issue will remain. Current browsers can not interpret the step attribute of input[type="number"], if value is in scientific notation, but not step and vice versa.
So anything like this
        \<input type="number" step="1" value="1e2" /\>
will not work as expected.
As far as I remember, all browser fail here.

[2015-06-10 18:30] stryju commented on #11602
works in chrome - converts to "normal" notation tho

[2015-06-10 18:37] orsonjones commented on #12077
I can't believe I missed that! Thanks so much.

[2015-06-10 20:08] ali-bugdayci commented on #12060
@gkalpak yeah I know that we dont have filter provider, but you got what I meant.

Instead of every one trying to solve this problem, configuring it through a flag option would be awesome.

But I wouldn't expect something fast. Since you guys are aware of this problem, and made your choice, this would not be a high priority issue.

[2015-06-10 20:22] m4r71n opened #12080 "ngClass on ngView is not in sync since 1.4.0-rc.0"
Working example with 1.4.0-beta.6: http://plnkr.co/edit/aBcSTUO8Et17Y8MSWNJL?p=preview
![2015-06-10_221405](https://cloud.githubusercontent.com/assets/6043876/8092983/2a1bd1a2-0fbe-11e5-8954-585521013ec4.png)

Broken example with 1.4.0-rc.0: http://plnkr.co/edit/22mLv7fXesMVXfEwX6Yt?p=preview
![2015-06-10_221455](https://cloud.githubusercontent.com/assets/6043876/8092986/2d8b14e2-0fbe-11e5-9679-1b

[2015-06-10 21:15] #12073 closed

[2015-06-10 22:09] christianv commented on #11959
@lgalfaso any idea on when this might land?

[2015-06-10 23:08] lgalfaso commented on #11959
This already landed and should be part of 1.4.1 once released

[2015-06-11 02:35] buihoanghai commented on #11990
I see in function digest line 14308 version 1.3.15 use "copy". It's mean if I watch a big object the digest will very slow than 1.2. Currently, I use JSON.parse(JSON.stringify(source)); for angular.copy and it run faster

[2015-06-11 07:08] trb opened #12081 "ngCookies - $cookies doen't use defaults set on $cookiesProvider"
Please see this Plunker for an example:

http://plnkr.co/edit/pGWnxDToIDcI4BTDkH1l?p=preview

I inject '$cookiesProvider' into a .config() call and set a path:

    $cookiesProvider.defaults = { path: '/invalid-path' };

But new cookies created with `$cookies.put()` do not use that path and are set/can be read.

Passing the same path into another `$cookies.put()` call correctly uses the path and t

[2015-06-11 07:52] #11102 closed

[2015-06-11 07:56] #10094 closed

[2015-06-11 07:58] #7817 closed

[2015-06-11 08:11] lgalfaso commented on #12081
You have to change the object in-place. Eg. `$cookiesProvider.defaults.path = '/invalid-path';`

[2015-06-11 08:15] Narretz commented on #1302
`track by` is indeed the way to solve this: http://plnkr.co/edit/FIQ1eORODFibHon12rYz?p=preview

[2015-06-11 08:15] #1302 closed

[2015-06-11 08:26] Narretz commented on #11912
@vytautas-pranskunas- is this now resolved on the angular side?

[2015-06-11 08:32] vytautas-pranskunas- commented on #11912
Yes, but it sad that https://github.com/angular/protractor/issues/169#issuecomment-103945952 gets ignored.

[2015-06-11 09:16] Narretz commented on #5916
I cannot repro this anymore in Version 45.0.2429.0 canary. The above bug is also marked as fixed.

[2015-06-11 09:16] #5916 closed

[2015-06-11 09:21] Narretz commented on #11331
Works now in Version 45.0.2429.0 canary

[2015-06-11 09:21] #11331 closed

[2015-06-11 09:41] marcelgwerder commented on #11685
I think I have the same issue. I have a simple select with an additional custom directive that uses `

[code]
It only works if I either remove the empty option:

[code]

Or the custom directive:
[code]

But both together throw a `TypeError: Cannot read property 'getOptionFromViewValue' of undefined`.

http://plnkr.co/edit/kIZqA67L1adub2f179Yj?p=preview

This worked with 1.3:

http://plnkr.co/edit/

[2015-06-11 10:51] Saurbaum commented on #11075
I see this same problem if I navigate using the URL bar in IE directly.

navigating to #/database/home which is my controller to link the current user to a home page the controller in there works only once.  Every subsequent attempt using either dynamic links, manually editing the URL in the browser or a navigate call from an ActiveX control (yes I want that dead but it's stuck in there now) resul

[2015-06-11 11:18] plumpNation opened #12082 "Click not fired with ng-touch 1.3.16"
I have removed all directives except ng-click from a non responsive button.

On touch devices I only see CSS change styles to :active, but the callback for ng-click does not run.

I am using Chrome 43.0 on Android but am seeing this with Safari on iPhone, and IE on windows phone too.

I remove ng-touch and the problem disappears. I downgrade to 1.3.15 and the problem is gone.

I'm fixing the versi

[2015-06-11 13:14] urpro-bas commented on #6049
This issue still seems to exist in 1.4, is that correct? Any estimation on when it's done or any workaround?

[2015-06-11 13:43] Sankluj commented on #4030
The issue is still present in ```1.3.16```
Plunkr: http://plnkr.co/edit/WVOA1R2xpUqvs0HgDPBO
with angular-ui modal: http://plnkr.co/edit/gyNF9BhiaBuMtonPXYKS

[2015-06-11 13:53] zishanj opened #12084 "ngRepeat doesn't refresh DOM on simple array update"
I am using simple array of numbers like below with `ng-repeat`:

    n = [1,2,3,4,5,6]

The issue is, when I change this array for eg:

    n=[1,2,3]

It doesn't fully reload the DOM but instead it just remove the last 3 `div` elements related to array `4, 5, 6`. Is there any way to force the `ng-repeat` to reload DOM everytime I change the array.

[2015-06-11 14:49] Narretz commented on #12084
`ngRepeat` tries to reuse element as much as possible to avoid updating the DOM too much. When you have numbers and strings in your collection, ng-repeat can track elements by default, even though you replace the whole collection. With objects, you will not see this reuse, unless you use a track by expression.
Why exactly do you need ng-repeat to rerender every time you update the collection?

[2015-06-11 14:53] iobaixas commented on #4608
I managed to get anchors working correctly using the following setup (it only considers id anchors and probably messes up angular routing for more complex use cases)

[code]

[2015-06-11 15:06] zishanj commented on #12084
@Narretz Actually I am switching between different models. For example in one model I have 114 array elements and in another I have 30 array elements. When I switch between models, it only update it's content. But I need to reload the complete DOM with animation for better user experience.

[2015-06-11 15:13] metamatt commented on #6697
BTW it turns out to be quite easy to use Bluebird with Angular 1.x; [Bluebird has a setScheduler hook](https://github.com/petkaantonov/bluebird/blob/master/API.md#promisesetschedulerfunction-scheduler---void) that supports exactly this ([example via StackOverflow](http://stackoverflow.com/a/23984472/275581)). I just started using this and am impressed at how easy it was to drop in and how big the

[2015-06-11 15:13] zishanj commented on #12084
I have tried to use custom function also in `track by` but that also doesn't work.

[2015-06-11 15:30] joebnb commented on #12069
1.3.15 this problem has fix with another wayswhatever(i use preg match to filter out this url,problem still exist),i dont konw is location.path() trans # to %23 cause problem?whatever

[2015-06-11 15:30] #12069 closed

[2015-06-11 15:48] ivkremer commented on #638
I think this is applicable while there is no way to this via `ng-options`:
[code]

[2015-06-11 15:48] ivkremer commented on #638
I think this is applicable while there is no way to do this via `ng-options`:
[code]

[2015-06-11 15:50] ivkremer commented on #638
I think this is applicable while there is no way to do this via `ng-options`:
[code]
[code]

[2015-06-11 16:00] Narretz commented on #12084
You could use a track by function that returns a unique, random id. something like `Math.random() + Date.now()`. But I don't really recommend it.

[2015-06-11 16:10] zishanj commented on #12084
@Narretz I already tried it but it doesn't work, because it doesn't add `$$hashkey` to the simply array of integers. It only does it when using objects.

[2015-06-11 16:31] benjamingr commented on #6697
@metamatt actually more like http://plnkr.co/edit/ggMzDwnkzMOc0MccdVEu?p=preview in order to really decouple $q.

[2015-06-11 17:12] Xartok commented on #638
ng-repeat on option doesn't work in IE (at least IE8). It was mentioned here https://github.com/angular/angular.js/issues/638#issuecomment-51002615

[2015-06-11 17:44] trb commented on #12081
Ah, great - I suspected I was doing something wrong but we couldn't figure it out in #angularjs yesterday. Thanks for the answer.

[2015-06-11 17:44] #12081 closed

[2015-06-11 17:50] dpogue opened #12087 "npm "latest" tag is 1.3.16 instead of 1.4.0"
This might be a result of publishing 1.3.16 after 1.4.0 launched, but I think it's reasonable to expect that `npm install angular` would install 1.4.0.

[2015-06-11 17:57] mrodrig opened #12088 "ngRoute exclude option"
Hi,

I'm on Angular 1.3, but searched for a while and couldn't find anything about how to cause ngRoute to exclude certain 'routes' from being "intercepted" and run through the router.  For example, say I want to have a directory server-side with attachments in the `/attachments` path.  Then, in my HTML, I want to link to an attachment: `<a href="/attachments/latest-copy-of-file.pdf">Latest Copy o

[2015-06-11 18:34] metamatt commented on #6697
@benjamingr oh yes even better. Thanks for educating everyone on this.

[2015-06-11 19:02] SomeKittens opened #12089 "$eval incorrectly renders boolean values when there's an error"
In 1.4.0, with `a.b` being `undefined` (thus triggering an error):

[code]

Plunkr: http://plnkr.co/edit/Z0OYWcLgqEa0Hil9RyGd?p=preview

This works as expected in 1.3.15: http://plnkr.co/edit/WQ15uAjNYdKEmpeQwvQT?p=preview

[2015-06-11 19:02] SomeKittens commented on #12089
What's especially troubling is the first case (resulting in true) as this caused all sorts of havoc with our `ng-if` and `ng-show` statements.

[2015-06-11 19:04] JimAdkins opened #12090 "ng-if Preventing Select Change"
I'm not sure if this is a bug or not. I just started using Angular, so this may be intended behavior. I have a select with some options in it. I have a link to change the select to the first option. When I use ng-if to show the select and link on the page, my "Change" code will work as long as the select isn't dirty. Once you select a different option and the select element is dirty, the "Change"

[2015-06-11 19:11] kentcdodds commented on #5453
I'm seeing this as well. I'm using angular version `1.3.15`.

[2015-06-11 19:18] steelstyle commented on #12089
Seems that is is also order dependent

http://plnkr.co/edit/p2J36xikdG9iA6vJw0Bk?p=preview

[2015-06-11 20:44] gkalpak commented on #12089
Closing as duplicate of #11959.
(This has been fixed on master by #11989 and the fix will be available in `v1.4.1`.)

[2015-06-11 20:44] #12089 closed

[2015-06-11 20:46] gkalpak commented on #12090
This is working as expected:

* `ngIf`: will remove the element form the DOM (if evaluated to false`), so there is no `select

--
That said, this is a general support question and should have been directed to the [appropriate channels][1]. GitHub is reserved for bug reports and feature requests.

[1]: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question

[2015-06-11 20:48] gkalpak commented on #12090
This is working as expected:

* `ngIf`: will remove the element form the DOM (if evaluated to false`), so there is no `select` element (and thus no `ngChange` listener).

* `ngShow/Hide`: will just (visually) hide the element (using `display: none` by default), but the element is still present in the DOM and all it's binding/listeners are active.

--
That said, this is a general support question a

[2015-06-11 20:48] #12090 closed

[2015-06-11 21:25] #12066 closed

[2015-06-11 21:47] OlenDavis commented on #12037
Actually, while https://github.com/angular/angular.js/pull/11989 handles this case correctly, i.e. `$parse('true && not.there')() === undefined`, it doesn't handle the case without the array/object access: `$parse('true && notThere')() !== undefined`.

[2015-06-11 23:02] metamatt commented on #6697
Hmm. I tried (a riff on) that and found it does indeed work, but there are a bunch of places both in my own code (mostly related to `$timeout` and `$timeout.cancel()`) and library code I don't control ([ui-router](https://github.com/angular-ui/ui-router)) that were assuming it's fine to not handle promise rejection. That's a silent problem in $q, and a noisy one in Bluebird, and that noise is one

[2015-06-11 23:48] erwingaitano commented on #9128
+1
Removing 'strict mode' from angular.js just kind of alleviate the problem but it still happens randomly.

bower.json:

    "dependencies": {
        "angular": "1.3.15",
        "angular-route": "~1.3.5",
     }

[2015-06-12 04:56] esetnik commented on #6251
I'm also affected by the same issue:

bower deps:
[code]

[2015-06-12 05:16] SanderElias opened #12092 "how to use overlap(&&) operator?"
I have this: `select * from tab;e  where ARRAY['a tag','antoher'] && tags`
in English, I have an field tags that is an array of text fields. Now I need to get all records that have any of the items in my array.

How do I express this with sql-bricks?
I know it's an postgres extension, but I think it needs another operator.

[2015-06-12 05:18] SanderElias commented on #5489
@nikkwong, there are a couple workarounds posted in this thread. I know I did put link in a plunk that showed a workaround.

[2015-06-12 05:45] gkalpak commented on #12092
Is this by any chance intended for another repo ?

[2015-06-12 05:51] SanderElias commented on #12092
Yes it is! sorry..

[2015-06-12 05:51] #12092 closed

[2015-06-12 05:54] Fidel90 opened #12093 "ngClass wrong evaluation of function call"
I am using a function from a controller to evaluate a class for my button. The function evaluates expressions like `true && !true` correctly to `false` and returns that. Anyway my ngClass on the button evaluates to `.btn-succes` though the expression inside the button shows `false`. I'm on angular 1.3.13 at the moment and have used this pattern many times around my application without any issue.

[2015-06-12 05:56] Fidel90 commented on #12093
Further description: http://stackoverflow.com/q/30775365/2577116

[2015-06-12 06:14] tcarlsen commented on #6251
Just ran into this myself and im hating it, hope this will be fixed soon.

My quick fix is to make `ng-click`use a scoped function and make that do a double click check like this:

[code]

[2015-06-12 06:32] gkalpak commented on #12093
@Fidel90, I can't reproduce the problem (not even with the info provided on the StackOverflow question). Everything seems to work as expected.

Feel free to re-open (providing a clear reproduction path), if it turns out to be a bug in Angular.
(Note that general support questions should be directed to the [appropriate channels][1]. GitHub is reserved for bug reports and feature requests.)

[1]: ht

[2015-06-12 06:32] #12093 closed

[2015-06-12 06:38] Fidel90 commented on #12093
@gkalpak, thanks for your fast response. I just have downloaded the new 1.4.0 and tried it again. With success. It seems like something has been changed between versions though I could not find something related in the changelogs. Anyway I'm happy that I have not made any mistake and it works fine now. Sorry for posting in the worng section as I'm new to GitHub :)

[2015-06-12 07:58] manutalcual commented on #4608
Hi,

I've found a solution to this nightmare, but I'm new to AngularJS and don't know if it is a correct solution.
I've enabled html5mode like this:

[code]

Now all links work as expected and there are no errors on js.

[2015-06-12 08:01] Narretz commented on #12084
http://plnkr.co/edit/4Cf9Xq08sagGeEOH2gXW?p=preview

You can test that the elements do not get reused by giving them a random class via the developer tools. When you set the list, the classes will be gone, which means the element has not been reused.

[2015-06-12 08:08] lgalfaso commented on #12084
I do not see this as an issue as this is the way that ngRepeat works.
If you need support on how to use Angular, then I would recommend you that you post your question on StackOverflow

[2015-06-12 08:08] #12084 closed

[2015-06-12 10:09] remcohaszing opened #12095 "Allow transformRequest to modify headers"
In AngularJS 1.4.0-beta5 the possibility to modify request headers from `transformRequest` functions has been removed. This is stated in the [changelog](https://github.com/angular/angular.js/blob/master/CHANGELOG.md#breaking-changes-3). I found this a very useful feature to modify the `Content-Type` of the request being made.

For example:
[code]
I often use a similar approach to make `form-data`

[2015-06-12 10:17] Qwal opened #12096 "ngAnimate on leave event miss "close" phase"
Basically the problem is I don't get "close" phase of "leave" event. Works fine for "enter" event.

Here's the plunkr (see the output in console when you click checkbox): http://plnkr.co/edit/V7lgKLzPbwkBXoerUTAG?p=preview

[2015-06-12 10:53] Narretz commented on #2668
The right-click behavior is fixed in 1.3.16 and 1.4.0.

[2015-06-12 10:53] #2668 closed

[2015-06-12 10:58] Narretz commented on #2828
This works in >= 1.3.16 and >= 1.4.0

[2015-06-12 10:58] #2828 closed

[2015-06-12 11:48] San4oPanso opened #12097 "[Bug] [IE8] [ng-options] [jqLite?] Object doesn't support property or method 'prop'"
Hello. Found bug Object doesn't support property or method 'prop' at IE8 at ng-options at line
(element = optionTemplate.clone())
.val(option.id)
.prop('selected', option.selected)
.attr('selected', option.selected)
.prop('label', option.label)
.text(option.label);

Angular 1.2.28. IE8 (emulation view mode from IE11)
P.S. es5 shim added

[2015-06-12 12:15] Foxandxss opened #12098 "$animate.enter callback firing before element is fully inserted"
Hello, I have this weird issue in foxandxss/angular-toastr#109. Not sure if the problem is mine or from angular.

I have this directive:

[code]

And I build it by hand in a service, something along this lines:

[code]

Then I insert it in the dom like:

[code]

I would expect the callback function on `$animate.enter` to fire once the directive is fully inserted on the body and initialized. Since

[2015-06-12 13:36] #11439 closed

[2015-06-12 15:05] georeith opened #12099 "Logical operators return incorrect results when used on forgiving expressions."
**Version:** 1.4.0-rc.2

Given the following statements:

- `scope.$eval("true && does.not.exist");`
- `scope.$eval("true && !does.not.exist");`

Both return `true`, as long as `does.not` is not an object on the current scope.

However `scope.$eval("true && doesnotexist");` and `scope.$eval("true && undefined");` both return `false` as expected as long as `doesnotexist` is not a truthy value on th

[2015-06-12 15:18] ExplodingCabbage commented on #12099
Another example: `scope.$eval("true && doesnotexist()");` returns `true`.

I guess that in general this weird behaviour happens when using boolean operators on the results of "forgiving" expressions. But nothing in [the docs about forgiving expressions](https://docs.angularjs.org/guide/expression#forgiving) suggests that this behaviour should occur, and it's *bizarre*; it's a violation of the simp

[2015-06-12 15:47] TheTFo commented on #12082
I'm seeing similar problems with 1.3.16 with my desktop touchscreen.  Only in Chrome 43, appears to work fine in IE and FF.

[2015-06-12 18:17] TheMcMurder opened #12100 "Angular " OrderBy: '' " (empty string) no longer sorting by index"
In previous versions of Angular (1.2) when you passed an empty string to the OrderBy in an ng-repeat it would order by the index of each item in the array.

Now (1.3.15 & 1.4.0) it orders very differently. [This plunk](http://plnkr.co/edit/WSVdJq7unEEElo9LBzzr?p=preview) shows 1.2, 1.3.15, and 1.4.0 and how the order by functions differently in each case.

It should order by index if OrderBy isn't

[2015-06-12 18:51] lgalfaso commented on #12099
The issues originally posted are fixed as part of d19504a179355d7801d59a8db0285a1322e04601 the other is a real issue. Should have a patch soon

[2015-06-12 19:44] #12029 closed

[2015-06-12 20:02] Narretz commented on #12099
@lgalfaso are you sure the first issue has been fixed? In the jsbin, the first ng-if for 'AND' should evaluate to undefined, i.e. be not visible. This doesn't work with the snapshot, but it does work in 1.3.16

[2015-06-12 20:32] ThomasLandauer opened #12102 "Bug: Firefox: Input fields with 'required' get red shadow/border before submitting"
Firefox 38.0.5
AngularJS 1.4.0

`input` fields get the red invalid border/shadow on pageload (i.e. before the form is submitted), if all three conditions are met:
* `ng-app` defined
* `ng-model` set to any name
* `required` attribute present

Here's a fiddle: https://jsfiddle.net/5yh58orm/11/

In Chrome 43.0 and Internet Explorer 11 there is (as expected) no border.

[2015-06-12 20:41] timjacobi commented on #12102
I don't really see that being a problem with angular but with firefox
http://stackoverflow.com/questions/3809146/firefox-4-required-input-form-red-border-outline

[2015-06-12 21:14] lgalfaso commented on #12099
Mmm.. @Narretz you are right, updated the PR to fix
* true && a.b.c
* true && a()
* true && a()()
* false || a.b.c
* false || a()
* false || a()()

where `a == null`

These are all small variations of the same issue, hopefully this should fix all the variations

[2015-06-12 21:17] qitang opened #12103 "scroll even for angular select never fires"
Hi,
I created a directive to listen on the scroll event from angular select and ng-options but I never fires! However if I use jquery and select without ng-options. Everything seems to be fine. Can anyone tell me why is that? Thanks!
The directive is like this
[code]

There is a live [example](http://jsbin.com/rododajave/1/edit?html,js,console,output)

[2015-06-12 21:30] ThomasLandauer commented on #12102
@timjacobi: Your link applies to disabling the red shadow *entirely* (i.e. after form submission too). The only (sort-of) relevant discussion I found is here: http://stackoverflow.com/questions/17209057/firefox-draws-red-border-on-required-select-box/30812303

My suggestion: Apply a class `ng-submitted` (or similar) as soon as the user submits the form.

Reason: When clicking the submit button wit

[2015-06-13 00:49] rebelliard commented on #9128
I just encountered this problem on my production site, and I noticed that the bug came from my Grunt's **HTML minification** task (really!), and specifically, from having the [**removeOptionalTags**](http://perfectionkills.com/experimenting-with-html-minifier/#remove_optional_tags) option enabled.

The second I disabled `removeOptionalTags`, everything started working again.

[2015-06-13 03:37] parliament718 commented on #11992
Yup I get the same issue. Just upgraded to 1.4 recently.

[2015-06-13 03:50] zishanj opened #12104 "ngAnimate is not smooth"
Why ngAnimated is not smooth? It always makes the screen jumps downward even if I have used CSS classes using `$AnimateCss` in angular version 1.4. This jumping of the screen has always been the issue prior to version 1.4 also. This jumping downward of the screen is suitable only for list data but when I need to use block of elements with `FadeIn` animation, this really looks awkward.

[2015-06-13 04:56] joemalski opened #12105 "unable to set default selected option in selection tag using angular.js 1.4.0"
I have encountered issue with angular.js 1.4.0.  I can't set the default in select tag if I will use a 'number' but it will work if I use a 'string'.  The select statement is hard code in the view.  I already initialize my model in the controller.

// This will NOT WORK, value passed is a 'number'
$scope.colors = 2;

// This will WORK, value passed is a 'string'
$scope.colors='2';

Please see code

[2015-06-13 09:15] ryanhart2 commented on #12105
This is a documented breaking change: https://github.com/angular/angular.js/blob/master/CHANGELOG.md#140-beta0-photonic-umbrakinesis-2015-01-13

[2015-06-13 10:39] #12099 closed

[2015-06-13 10:46] ExplodingCabbage commented on #12099
@lgalfaso just a note - although @georeith gave the example of `true && a.b.c`, the same bug occurs for just `true && a.b` if `a` is null. I notice that your commit message refers to the `a.b.c` form but not the `a.b` form; I don't know whether you've in fact fixed both.

[2015-06-13 10:49] lgalfaso commented on #12102
You have to disable the native browser validation. Eg. `<form novalidate>`

[2015-06-13 10:55] lgalfaso commented on #12037
This was fixed by #11989 and should make it into 1.4.1

[2015-06-13 10:55] #12037 closed

[2015-06-13 10:58] lgalfaso commented on #11632
I have to agree with all the ones that claim that trimming inputs of type password is a bad idea. Closing

[2015-06-13 10:58] #11632 closed

[2015-06-13 11:08] lgalfaso commented on #12099
@ExplodingCabbage they are all fixed, in fact we have tests for

* `true && a`
* `true && a()`
* `true && a()()`
* `true && a.b`
* `true && a.b.c`
* `false || a`
* `false || a()`
* `false || a()()`
* `false || a.b`
* `false || a.b.c`

[2015-06-13 12:52] ThomasLandauer commented on #12102
Come on, what kind of answer is that?
I could also tell all users not to use Firefox......

Now, seriously, is it an official *system requirement* for AngularJS to disable native browser validation? I thought it was just a recommendation?

In my opinion there are valid reasons to keep native browser validation - e.g. not having to bother with designing/styling error messages. AngularJS is promoted

[2015-06-13 13:15] lgalfaso commented on #12102
@ThomasLandauer I am not trying to tell you what do to and what not to do. The same red border is present if you put `require` on an input field in Firefox without this being an Angular app. The question would be, why is this an issue with Angular and opened here? What is Angular specific in your example?

[2015-06-13 13:25] lgalfaso commented on #12102
Let me open this and try to see if it is possible to work around this Firefox limitation

[2015-06-13 13:26] ThomasLandauer commented on #12102
As explained above: The red border is only there if all *three* conditions are met (i.e. AngularJS is active): Check out the fiddle, remove `ng-model` and reload (F5 sometimes doesn't work, needs Ctrl+F5) => The red border is gone! So this *is* an Angular issue.

[2015-06-13 13:53] lgalfaso commented on #12102
@ThomasLandauer this is an issue with Firefox, Firefox code triggers the form validation when setting an element value using JavaScript and the value is the same as the current value. Created #12106 to handle this case, but the fix would only work for jqLite (a different workaround would be needed for jQuery).

The fact that you need Angular to trigger this behavior does not imply that this is an

[2015-06-13 16:21] SyntaxRules commented on #5900
+1

[2015-06-13 17:15] timjacobi commented on #12102
Still in doubt? Updated fiddle not using any Angular.
https://jsfiddle.net/5yh58orm/14/

[2015-06-14 00:37] dguzzo commented on #10828
@Narretz hmm, not sure how https://github.com/angular/angular.js/issues/10850 being merged will fix the issue with the docs here; regardless of parsing, shouldn't the example in the tutorial still use `ng-href` for the dynamic link? I'm probably missing something.

[2015-06-14 04:08] joemalski commented on #12105
Thanks for the update.

[2015-06-14 04:08] #12105 closed

[2015-06-14 04:29] pocesar commented on #11700
@Narretz @petebacondarwin the docs says otherwise https://docs.angularjs.org/api/ng/service/$q#when

[2015-06-14 04:50] pocesar opened #12107 "$asyncValidators with $q.when on rejected promise makes ng-invalid/valid flicker"
http://jsbin.com/pebanuvubo/edit?html,js,output

It seems to have gotten worse in 1.4. Per docs ( https://docs.angularjs.org/api/ng/service/$q#when ) using `$q.when` to wrap a third party promise, when using the `Promise.reject()` that returns immediately, makes the input flicker a lot.
It doesn't happen when doing `return $q.reject(false)`

[2015-06-14 07:50] alfonso-presa opened #12108 "$browser.defer().cancel() to keep testability in unstable state."
## TL;DL

This issue is two things, a request and a question:
* Is $browser.defer().cancel() the best pattern available to make the testability waitStable callbacks to wait until something is completed.
* If so... ¿shouldn't it be documented somewhere?

## Background
Let's say you have an application that's being tested with a framework relying in the $$testability service (like protractor). It ha

[2015-06-14 08:01] lgalfaso commented on #12107
By just looking at the plunker, it is not clear what is the issue you are reporting. Would it be possible for you to describe what is the behavior you are expecting and what is the current behavior?

[2015-06-14 08:14] pocesar commented on #12107
The ng-invalid / ng-valid / ng-pending classes that are added every keystroke are making the input flicker, but not when using `$q.reject` directly

[2015-06-14 08:23] lgalfaso commented on #12108
I can answer half of the issue. `$browser` and `$$testability` will not be documented, they are private and should not be relied upon. Read this as, this may break or change in any release including a patch release.

Now just based on the nature of a web socket, without some testability built in and some information from the running  test, it is not possible to know if there is a pending message f

[2015-06-14 08:25] lgalfaso commented on #12107
The jsbin is not flickering for me. I try this on Chrome, Firefox and Safari; in all cases on OS X

[2015-06-14 08:28] lgalfaso commented on #12104
Would it be possible to have a plunker that shows the issue?

ping @matsko

[2015-06-14 08:32] pocesar commented on #12107
changed using box-shadow, it will be noticeable. FWIW, i'm on Windows 7 64bits and Firefox 38

[2015-06-14 08:59] lgalfaso commented on #12107
With the new example, I can see the flickering. Now, the external promise library needs to be hooked into the existing digest lookup if you want no flickering.
I understand that the documentation states that you can send any promise library to a `when`, but that is not without side-effects. You are seeing one.

There is not a lot that can be done without hooking the external promise library promis

[2015-06-14 09:03] lgalfaso commented on #12102
https://jsfiddle.net/5yh58orm/17/ is equivalent to the example that @timjacobi posted, but clearly shows this is a Firefox issue

[2015-06-14 09:03] #12102 closed

[2015-06-14 09:30] Narretz commented on #10828
It looks like I referenced the wrong issue to close.

[2015-06-14 09:46] pocesar commented on #12107
so it would generate 2 "global" digests (coming from rootScope) for one 3rd party Promise? things can get ugly pretty fast that way I guess

[2015-06-14 10:00] lgalfaso commented on #12107
first, this is my personal opinion and my personal opinion only.

If you decide to use a third promise party, then you should be aware that there are some limitations. The fact that `$q.when` works with other libraries is just to the extend that `$q` is Promise/A+ compilant.

I would highly recommend that you use `$q`, but it is your prerogative to use any library that you want. Now, a comment on

[2015-06-14 10:06] nhduc296 opened #12109 "Throw exception when circular template reference"
[code]

[code]

[2015-06-14 10:14] lgalfaso commented on #12098
`$animate.enter` promise is resolved once the element is inserted, not once all the directives inside. Now, compilation of directives with `templateUrl` is an asynchronous process, the fact that if you cache the template then the promise that resolves the asynchronous compilation is handled before the `$animate.enter` promise, is just by chance and not something you should be relied on.

Unfortuna

[2015-06-14 10:14] #12098 closed

[2015-06-14 11:33] lgalfaso commented on #12059
The reason is that when directive that asks for a new scope but does not have a template, then the scope will be a sibling of the *base* new scopes created within the child elements where that directive is.

If this is a bug or not, it is hard to say and would like other contributors to comment.

[2015-06-14 12:39] lgalfaso commented on #12097
IE11 in any emulation mode is not supported. Can you test this in a real IE8?

[2015-06-14 16:06] alfonso-presa commented on #12108
Thank you for the reply Lucas. I completely understand your point.

I though that as protractor is built to "waitForAngular" and AngularJS is taking track of the "pending async tasks" it would be nice to expose this tracking so that other services built on top of angular could benefit from this angular+protractor synergy. It's not only about websocket based services but also webworkers, graphics r

[2015-06-14 16:19] lgalfaso commented on #12108
I cannot answer this on behalf of the entire team, so this is just my personal opinion.

There is an interest to make web sockets and web workers play better with angular. About the other named options, I do not feel qualified to say how big the interest is, so I would just ask other contributors to express their opinions. Now, when any of this happens, the testability of such components should be

[2015-06-14 16:29] alfonso-presa commented on #12108
Thank you very much again Lucas. That's all I needed to read to keep on working on this ;-). Of course I'm not aiming to address the whole websocket and webworkers problem but to ease their testability implementation.

Thanks!

[2015-06-14 19:10] wesleycho commented on #12076
A 500+ element array being bound to a select element sounds like a bad idea from a UX standpoint.

[2015-06-14 21:47] pocesar commented on #12107
I see. I reuse code from a Node.js server for validation, that's based off Bluebird, and can run on both environments, so I can't effectivelly use `$q` on the server side.

[2015-06-14 21:55] Tooa commented on #6726
Facing the same problem: +1

[2015-06-14 22:52] martinmcwhorter commented on #11799
Using TypeScript with the DefinitelyTyped angular type definitions gives you intellisence.

[2015-06-15 03:42] xforceco opened #12115 "$resource parameter object with array values cannot be passed to server"
In angular (1.3.16), for 'Stories' as a resource defined by a factory, I run
...
Stories.query({array: [1,2,3], a: 1},callback);
...

In node (latest stable),
...
router.get("/stories",function(req,res,next){
   console.log(req.query);
});
....

Output:
{a: 1}

'Expected' Output:
{array: [1,2,3], a: 1}

I am not sure whether it is the same with the following fixed issue, it looks similar though
ht

[2015-06-15 05:58] techdharmajayesh opened #12116 "Dynamic DOM not trigger button click."
I am using a table structure and apply datatable.net to it. Table populating its row and column data by angularjs and there is also edit or delete button. All are working fine. as soon as i want to implement nested table i just put a hidden td and when we click on expand i dynamically convert td to tr. But dynamically created tr not support any angular event like click etc.
I hope its using bind o

[2015-06-15 05:59] #12116 closed

[2015-06-15 06:08] dev33250240 opened #12117 "Dynamic DOM not trigger button click."
I am using a table structure and apply datatable.net to it. Table populating its row and column data by angularjs and there is also edit or delete button. All are working fine. as soon as i want to implement nested table i just put a hidden td and when we click on expand i dynamically convert td to tr. But dynamically created tr not support any angular event like click etc.
I hope its using bind o

[2015-06-15 07:33] petebacondarwin commented on #11700
Actually, this is working as expected. The async validators are not guaranteed to run synchronously, even if they are resolved immediately. So while we are waiting for the validation result to be resolved, the value of the error is set to `undefined`, which indicates "pending", rather than `null`, which indicates no error.

It just happens that in the case of $q, if the value is resolved immediate

[2015-06-15 07:48] corysmc commented on #5892
+1

[2015-06-15 07:53] alfonso-presa commented on #12108
I was thinking about this and I realized  that $timeout delegates to $browser.defer and it's public. I guess the following pattern will be better to achieve the same behaviour as mentioned before (making angular and thus protractor aware of a pending task running) and using only public angular API.

[code]

[2015-06-15 07:58] Narretz commented on #12117
Please ask support question on one of these channels: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#-got-a-question-or-problem Thanks!

[2015-06-15 07:58] #12117 closed

[2015-06-15 08:04] gkalpak commented on #12102
FWIW, there _IS_ an `ng-submitted` class and it's applied to the form once it's submitted, so you can use it to style your inputs.

[2015-06-15 08:04] Narretz commented on #12103
I've tested in FF and it works.
In Chrome, the first select doesn't work with native listeners either. So I guess this is a browser bug.

[2015-06-15 08:11] babakness opened #12118 "Bug?"
I have the following template for a custom directive

[code]

Here, ```$attrs.view``` is ```{{view}}``` in ```<my-directive>``` but  ```<ion-tab>``` interpolate the expression to the variable value. Is this a bug?

[2015-06-15 08:20] Narretz commented on #12095
Hmm. I can see how this in inconvenient. There are basically two ways
- setting headers explicitly
- using an interceptor (but you have to filter the requests to which they should apply)

However, if you have a factory for the transformRequest, couldn't you simply do:
[code]

[2015-06-15 08:22] pkozlowski-opensource commented on #12095
Yeh, I can see how this is inconvenient and while interceptors work they add overhead of the async processing. having said this I really dislike APIs where input arguments are getting modified....

Maybe we should make it possible to return both transformed data and headers from the transform request function?

[2015-06-15 08:25] Narretz commented on #12118
It is not clear what you are asking, really, and it sounds like a general support question. You should probably ask this in the ionic forums or on one of these support channels: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#-got-a-question-or-problem

[2015-06-15 08:25] #12118 closed

[2015-06-15 08:28] Narretz commented on #12095
The headers property could also accept a function that gets passed the current config + default headers and is expected to return a headers object.

[2015-06-15 08:35] gkalpak commented on #12115
This eems to [work as expected][1]. If you check out the console, you'll see that the requested URL's query part for `Stories.query({a: 1, b: [1, 2, 3]});` is: `?a=1&b=1&b=2&b=3`.
Maybe it is a Node.js issue or something in between.

In any case, it doesn't seem to be an issue with `ngResource`.

(Feel free to reopen, if you can provide more info showing that it is something in Angular/ngResource

[2015-06-15 08:35] #12115 closed

[2015-06-15 08:37] Muenze commented on #11091
@joelmdev
Your solution fixed our problem
file:/// load of our angularJS app in an UIWebView

[2015-06-15 08:43] babakness commented on #12118
My question isn't about ionic; here is what I get in the console:

[code]

Line 1 console.log($attrs) and line 2 is the expanded form of line 1.

Note that "{{view}}" is raw text yet when expanded it is the value "dash". I admit I am new to Angular yet this seems to me like the value for {{view}} is being set sometime after it is requested.

It doesn't seem right.

[2015-06-15 08:51] mciastek opened #12119 "How can I revalidate form after appending compilled content into ng-form in Angular?"
I have a form with nested ng-forms where on each key press user make script append a compiled form fields (like ui-select, ui-datepicker, etc.) to container with ng-form directive.

How can I trigger validation after content is replaced in ng-form?

<a href="http://jsfiddle.net/mciastek/e3bd0sme/">Simple demo on JSFiddle</a>

If you want to reproduce the bug, append field by typing into textarea w

[2015-06-15 08:57] gkalpak commented on #12118
Where is that `console.log` statement ?

[2015-06-15 09:09] babakness commented on #12118
@gkalpak Its inside the directive declaration function. I am probably botching the terminologies here. I created a stack overflow question with much more detail. I'm just confused on how to access the interpolated value.

http://stackoverflow.com/questions/30841035/angularjs-my-custom-directive-cant-access-attributes-yet-it-appears-other-custo

[2015-06-15 09:09] fatpaul commented on #12082
Seeing a very similar problem, I have a ng-click on the body tag to listen for clicks and get rid of a main menu that is sometimes displayed. With the new version of Angular (that has the new jQuery touch event support) 1.3.16, the click event seems to be swallowed up after the body tag click, so no propagation occurs down the dom so no other dom elements get the event.

So doing the same as you g

[2015-06-15 09:11] lgalfaso commented on #12108
As long as you keep in mind https://github.com/angular/angular.js/blob/master/src/ngMock/angular-mocks.js#L66

BTW, I do not think there is anything else to track that should be part of angular, so I am closing this

[2015-06-15 09:11] #12108 closed

[2015-06-15 09:16] remcohaszing commented on #12095
Actually using an interceptor sounds like a perfect solution in my case. I could just filter out requests which specify an `x-www-form-urlencoded` content type and modify the body accordingly.

If the function would be able to return both the transformed data and headers, I imagine this would return an array consisting of `[data, headers]`. This seems like a bad idea to me, because developers may

[2015-06-15 09:16] alfonso-presa commented on #12108
Thank you for the tip. This is for e2e testing so there should be no plage for ngMock I guess :-).

[2015-06-15 09:16] petebacondarwin commented on #10423
@jaredwilli and @gkalpak - can you see if https://github.com/angular/angular.js/commit/91b602263b96b6fce1331208462e18eb647f4d60 fixed this?

[2015-06-15 09:20] petebacondarwin commented on #10423
I see that it doesn't on the live reproduction.

[2015-06-15 09:26] xforceco commented on #12115
You are right, I found I am actually stuck with a bug in my code instead

[2015-06-15 09:27] petebacondarwin commented on #11160
The behaviour demonstrated in this issue is what we want to happen in the majority of cases. In other words, we do not want to trigger page reloads if we are just effectively changing the hash.

If you want to force a page reload you simply add `target="_self"` to the link: see http://plnkr.co/edit/DVm0Jq8hGcuqhclTW5Rj?p=preview

[2015-06-15 09:27] #11160 closed

[2015-06-15 09:43] lgalfaso commented on #12119
Please read the [contributing guidelines](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#-got-a-question-or-problem); these types of questions are ill-suited for GitHub. Thanks!

[2015-06-15 09:43] #12119 closed

[2015-06-15 10:11] vurgun533 commented on #11921
http plugin
cordova plugin add cordova-plugin-whitelist
I solved the problem by adding plugin

[2015-06-15 11:17] AlexKey opened #12120 "$parse should have an easy way of knowing if the function mapping was successful"
It would be nice if $parse had an easy way of knowing if it was successful or not.

If for example the expression being passed to it had a typo, it will still return a meaningful object, but it's not particularly easy to know if it's returning a real function or a noop.

[2015-06-15 11:19] mprokopowicz opened #12121 "exponential notation in input[type=number] validation"
If we provide some long number, like 111111111111111111111111 in the input[type=number] and then click this little up/down arrow, then input value is converted to exponential notation: 1.11111111111111111e+23

Angular consider this is invalid value, but i think it should be still valid:
[code]

See this plunker:
http://embed.plnkr.co/hBmk7d/preview

[2015-06-15 11:45] lgalfaso commented on #12120
Without some context, it is hard to know what you are talking about. The expression `this.is.ok` is just as good as an expression as `this.is.not.good`. Are you talking about having a way to disable the forgiving nature of angular expressions?

[2015-06-15 11:48] pkozlowski-opensource commented on #12109
Not sure how we could go about this, technically speaking, nor if it is worth the overhead. But you should be getting already an error from a browser, no?

For now I'm leaning towards "won't fix" - while I'm all for having great error messages we need to keep in mind that each error message has cost (bytes added to the framework + CPU). So we need to make sure that we are creating overhead for rar

[2015-06-15 11:55] pkozlowski-opensource commented on #8442
This is roughly the same as https://github.com/angular/angular.js/issues/10934

[2015-06-15 11:58] pkozlowski-opensource commented on #11912
OK, could we take to the protractor, then? @vytautas-pranskunas- could you please open a new issue on the protractor side with the latest details / reproduce scenario? Thnx!

[2015-06-15 11:58] #11912 closed

[2015-06-15 12:01] AlexKey commented on #12120
Thanks @lgalfaso, yes I suppose I'm looking for either a stricter mode or something on the return which indicates if it was able to find the function or not.

I noticed whilst debugging through $parse that when it began to not find a function to map to, it assigned a noop and null as the params, it would be cool to expose that back out to the caller somehow. However I've not had a chance to look v

[2015-06-15 12:02] pkozlowski-opensource commented on #12095
There are many ways to solve it cleanly, ex.: returning an instance of a specific class. So I don't think we are blocked from applying this solution, implementation-wise.

[2015-06-15 12:11] caitp commented on #12121
Yeah, the number regexp doesn't deal with exponential notation currently. It shouldn't be a difficult PR to submit if interested

[2015-06-15 12:16] lgalfaso commented on #12120
The forgiving nature is needed in an asynchronous environment. The main issue with generating any warning when a function/field is not found is that it would be very verbose.

[2015-06-15 12:28] lgalfaso commented on #12109
Agree with @pkozlowski-opensource. The fact that `templateUrl` can be a function and can change the value it returns does not make it any easier.

Closing this as wont fix

[2015-06-15 12:28] #12109 closed

[2015-06-15 12:35] pkozlowski-opensource commented on #11339
@sharanmunyal we haven't heard from you and it is hard to progress on this one without clear reproduce scenario :-( I'm going to close this one for now, but will be more than happy to re-open if you've got a minimal, live reproduce scenario.

[2015-06-15 12:35] #11339 closed

[2015-06-15 12:50] #12121 closed

[2015-06-15 13:49] jaredwilli commented on #10423
I no longer have access to the code base that I was seeing this issue with. I have a different job now so can't test if this works.

[2015-06-15 13:58] joelmdev commented on #11091
I'll submit a pull request sometime this week and see where it gets me.

[2015-06-15 14:28] Narretz commented on #11602
fixed in https://github.com/angular/angular.js/commit/ebd0fbba8ff90bee0cd016d574643d56a7f81ed0

[2015-06-15 14:28] #11602 closed

[2015-06-15 14:32] rantani commented on #11148
We use Angular version 1.3.15 and have this issue. Any update on this?

[2015-06-15 14:45] ThomasLandauer commented on #12102
@lgalfaso: I wouldn't call it a Firefox issue, but rather an *incompability* between Firefox and Anulgar ;-) But anyway, thanks for opening the other issue!! :-)

@gkalpak: Yeah, thanks, I noticed that meanwhile ;-) BUT: `ng-submitted` is only applied after the form has *actually* been submitted (i.e. at a moment in time where any validation&highlighting is obviously obsolete). I'm talking about t

[2015-06-15 14:50] intellix opened #12124 "ngAnimate - Providing only keyframe/keyframeStyles to $animateCss does nothing"
After realising that `keyframe` should actually be `keyframeStyles` for $animateCss I see that passing `keyframeStyles` alone will decide that there's nothing to do and return: `closeAndReturnNoopAnimator()`.

To get around this I have to do something like:
[code]

[2015-06-15 14:59] dmcquillan314 commented on #5146
I'm using the paramSerializer for now until the feature is there.  Seems to be working fine.  Any reason why this is undocumented?  I'm assuming this is presumably a private function to angular?

[2015-06-15 14:59] AlexKey commented on #12120
Ah ok, if I understand it right... does it return a function that calls another function that may exist now or in the future?

Would it be possible to have a strict option that throws an exception perhaps? Rather than a warning?

[2015-06-15 15:52] laustdeleuran commented on #8538
@chrisnicola +1

I'm experiencing the same thing. The animation itself works exactly as it should, but when it'sa ll over, the element reappears for half a second or so.

[2015-06-15 16:00] laustdeleuran commented on #8538
@chrisnicola From my own quick results, it seems that @mgcrea's solution works. This is what I have right now:

	&.ng-animate {
		&.ng-leave,
		&.ng-enter {
			@include animation-play-state(paused !important);
		}
		&.ng-enter {
			visibility: hidden;
		}
		&.ng-leave-active,
		&.ng-enter-active {
			visibility: visible;

			@include animation-play-state(running !important);
		}
	}

This seems to

[2015-06-15 16:32] nhduc296 commented on #12109
@pkozlowski-opensource
Chrome was stuck, I have to kill that tab

[2015-06-15 16:43] gkalpak commented on #5146
The `paramSerializer` is not private. It's part of `$http`'s configuration (documented [here][1] and the available built-in serializers [here][2] and [there][3]).

The key-point is that the properties defined in the declaration object of custom `$resource` actions (with few exceptions, such as `interceptor`) are passed to `$http(config)`.
This is admittedly underdocumented (_"The declaration shoul

[2015-06-15 16:57] dmcquillan314 commented on #5146
Gotcha, that makes sense to me.  Thanks for the explanation.

[2015-06-15 17:10] ipcloud opened #12125 "ng-include-component - duplicate!"
duplicate, please remove!

[2015-06-15 17:13] Abrissirba opened #12126 "ng-include-component"
I would like to be able to dynamically include a directive/component based on the component name much like we can do with templates in ng-include today.

I'm developing a dashboard app that includes multiple kinds of widgets. At the moment each widget consists of a template and a controller. I'm rendering these widgets with an ng-repeat that loops over an array of widget configuration objects. Eac

[2015-06-15 17:15] #12125 closed

[2015-06-15 17:18] pkozlowski-opensource commented on #12126
You could easily create such directive without any changes to the core. It would be very easy: just $parse `name` attribute value and use the $compile service to "dynamically" process a specified directive.

I'm not sure this belongs to the core, though, as there would be many open questions on how to make it generic (what about scopes, how to pass arguments to directives etc.)

For now it would b

[2015-06-15 18:22] Abrissirba commented on #12126
Ok, fair points Pawel and I guess you are right about scopes and passing arguments. However, I created a gist on how I implemented if anyone would be interested in how I did it. https://gist.github.com/Abrissirba/157e4c3bb87e724b35e1

[2015-06-15 18:34] pkozlowski-opensource commented on #12126
Right, your directive looks like a good approximation of what I was thinking about (it is missing DOM nodes removal when watch fires etc.). But yeh, let's keep it in the user-land for now - we can always revisit if / when there is more interest / demand.

[2015-06-15 18:34] #12126 closed

[2015-06-15 18:38] Abrissirba commented on #12126
Will not element.html(html) handle DOM removal?

[2015-06-15 18:40] pkozlowski-opensource commented on #12126
@Abrissirba maybe, not sure. Was just hinting that some special care needs to be taken to properly cleanup

[2015-06-15 18:48] btford commented on #11728
Is this something that you'd ship with the production app, or just something you'd use while developing?

[2015-06-15 19:00] nribeka commented on #11898
@poshest you could try this one:
    https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/i18n/angular-locale_sk-sk.js

[2015-06-15 19:14] btford commented on #11137
I think `npm link` and `bower link` both tackle this use case better.

Both of these tools also support installing from a github repo (e.g. `npm install btford/my-directive`) or from a zip/tar.

It's also possible to use decorators to patch just part of a module.

I wouldn't be opposed to adding a `thereCanBeOnlyOne:bool` flag to the directive definition that throws if another directive with the s

[2015-06-15 19:22] kentcdodds commented on #11728
@btford, the library can be disabled (so it is a no-op for production). But it validates your DDO and I wanted to know whether your DDO should be using explicit annotation based on whether strict di is enabled (which I have enabled in development).

But thinking about it further, angular will throw an error if something's not using explicit annotation when it should be so I don't think it's valuab

[2015-06-15 19:22] #11728 closed

[2015-06-15 19:34] Antariano opened #12127 "Decorating $templateRequest breaks ngAnimate"
**Overview**
Decorating $templateRequest will break ngAnimate. The usual ng-enter, etc. classes are no longer added, and animations/transitions don't run.

**OS:** Windows 8.1, OSX, Windows 10
**Browsers:** Chrome, Safari, Firefox
**Angular Versions:** Reproduced on 1.3.14, 1.3.16, 1.4.0
**JSBin Reproduction:** http://jsbin.com/xefora/edit?html,js,output

It's probably me decorating incorrectly, b

[2015-06-15 19:37] lgalfaso commented on #4664
This was fixed as part of #10592

[2015-06-15 19:37] #4664 closed

[2015-06-15 19:51] Antariano commented on #12127
As I suspected, I did it wrong.
Adding

[code]

To the example fixes it, so I wasn't copying all attributes correctly.
Closing.

[2015-06-15 19:51] #12127 closed

[2015-06-15 19:56] Narretz commented on #12023
Closing because the issue is not clear.

[2015-06-15 19:56] #12023 closed

[2015-06-15 20:01] Narretz commented on #11861
@guillaume86 is right, this is the way to go.

[2015-06-15 20:01] #11861 closed

[2015-06-15 20:11] clementoriol opened #12128 "ngAnimate - Doesn't animate when the ng-repeat scope value is transformed"
Hello !
After updating to angular 1.4 and trying myself with the new ngAnimate module, I'm having an issue while trying to animate ng-repeat elements, with filtered data.

It looks like a bug with the module, more than my misdoing, so I'm submitting this issue :

If the scope element the ng-repeat is iterating over is transformed in some way (like filtered (the native Array function) from a contro

[2015-06-15 20:34] larpo1 commented on #6726
yep - same problem +1

[2015-06-15 21:00] Narretz commented on #9399
Regardless, as 1.2.x only receives security fixes, I'm gonna close this.

[2015-06-15 21:00] #9399 closed

[2015-06-15 21:31] Narretz commented on #6990
This works in 1.3.16 / 1.4.0. If the error ist set, in both cases the whole ngModelCtrl is available in the error array.

[2015-06-15 21:31] #6990 closed

[2015-06-15 23:55] matsko commented on #12003
This is getting fixed in the next release for 1.4.2

[2015-06-16 00:00] bbraithwaite commented on #1434
If it's of help to anyone, here is a solution that I use to make real HTTP calls when I'm using ngMock for unit tests. I mainly use it for debugging, working through the test, getting JSON examples etc.

I wrote up the solution over at my blog: http://www.bradoncode.com/blog/2015/06/16/unit-test-http-ngmock-passthrough/

[2015-06-16 08:50] odl123 opened #12131 "Angular JS"
I have created a login form in angular jS for login authentication. The ng-submit value is login1()
Now I implement the login1 function on my custom dashboard.min.js file as shown below.

angular.module("RDash").config(["$stateProvider", "$urlRouterProvider", function(e, t) {
    t.otherwise("/logg"), e.state("verify", {
        url: "/verify",
        templateUrl: "php/verifyAuthentication.php"

[2015-06-16 08:52] Narretz commented on #12131
Please ask support question on one of these channels: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#-got-a-question-or-problem

[2015-06-16 08:52] #12131 closed

[2015-06-16 09:44] Guardiannw commented on #12003
Great! Thank you guys for your work

[2015-06-16 09:46] gkalpak commented on #12102
@ThomasLandauer, I see what you mean about adding a class to indicate unsuccessful submitting.

But I don't think this is a widely used/needed option. Note that several people have requested different classes to be added by `ngModelController`/`formController` to indicate all sorts of events (e.g. focus).
Angular has implemented some that are considered commonly useful (such as `ng-dirty`/`ng-pris

[2015-06-16 10:01] ThomasLandauer commented on #12102
Yeah sure, you certainly can't add a class for *everything* ;-)

But generally, I prefer native browser functionality over anything self-designed, cause it gives a better user experience. In this case: Firefoxes native red shadow & popup tooltip is familiar to the user (cause they've probably seen it a hundred times before), my design is new to the user.

Well, the issue is on file anyway, so if a

[2015-06-16 10:10] Narretz commented on #12058
Closing  since there is not enough information

[2015-06-16 10:10] #12058 closed

[2015-06-16 10:37] Narretz commented on #6608
Interesting. The last plnkr shows this pretty well. Basically, when the multi select is scrolled somewhere in the middle and the height of the modal changes (in the plnkr, this happens when items are sent from one to the other list), the select scrolls a little bit, which is unexpected. It doesn't affect the selection, though. Happens in FF and Chrome.

[2015-06-16 10:53] rcollette opened #12133 "$resource body data not supported for DELETE method - undocumented"
The documentation for $resource states that all non-GET action methods support postData, however, looking in the code,  the resourceFactory function sets a variable called hasBody and does not include the DELETE method.    I'm not sure why it would be excluded, in addition to the documentation not indicating this.

See https://github.com/angular/bower-angular-resource/blob/master/angular-resource.

[2015-06-16 10:54] Narretz commented on #7791
Closing because no info was provided.

[2015-06-16 10:54] #7791 closed

[2015-06-16 11:09] #4396 closed

[2015-06-16 11:31] petebacondarwin commented on #12051
@Grandiz - please provide a running example of this problem. It is very hard to help you otherwise.

[2015-06-16 11:33] pkozlowski-opensource commented on #12133
Duplicate of https://github.com/angular/angular.js/issues/8567, let's centralize the discussion in there.

[2015-06-16 11:33] #12133 closed

[2015-06-16 11:57] gkalpak commented on #6608
@Narretz, what you describe (which is probably different from what OP faces), only happens when you remove items that are higher than the currently scrolled to item. Basically, the select doesn't scroll, but it's height and items change.
I.e. when you have scrolled the select to `scrollTop === 130` at which point item `foo` is visible and then remove 10 items above `foo`, the select remains at `sc

[2015-06-16 12:39] tdrozdz opened #12134 "Inconsistent in en_US localization"
Hi, during development on localizations I've noticed that in core angular code localization for ```en_US``` looks different than in a file with localizations exposed as bower dep.

value in angular core
https://github.com/angular/angular.js/blob/291d7c467fba51a9cb89cbeee62202d51fe64b09/src/ng/locale.js#L36

value in bower dep
https://github.com/angular/bower-angular-i18n/blob/master/angular-locale

[2015-06-16 13:02] hanumanbandhu opened #12135 "Angular JS with Struts2.0"
Can we use struts2.0 value stack elements in Angular JS instead of JSON object .

[2015-06-16 13:15] pkozlowski-opensource commented on #12135
@hanumanbandhu please ask general support questions using a dedicated support channel: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question

[2015-06-16 13:15] #12135 closed

[2015-06-16 13:25] PinkyJie commented on #10508
Impressive!

[2015-06-16 13:36] petebacondarwin commented on #12060
There is no configuration phase (unlike standard services) for filters and for this use case it would be an unrealistic change to the core. Also changing how a filter behaves across the board and behind the scenes is a recipe for disaster. If you are using a third party component that expects `filterFilter` to behave as specified by Angular this may break things. Also future maintainers may not re

[2015-06-16 13:38] pocesar commented on #11358
happens to all unfocused inputs, on Android it's even worse, need to touch the input many times before it's focused

[2015-06-16 14:30] lgalfaso commented on #12134
This looks like a valid bug. Thanks for reporting this.

If someone wants to put together a PR, it would be ideal. If not I will look into this before the next release

[2015-06-16 15:12] lpsBetty commented on #5146
hmmm it doesn't work for me with angular $resource (I am using angular 1.4)
I also saw in the angular code that the ``paramSerializer`` will get passed to the http config, but the params in my custom function are always ``undefined``?

Any help would be much appreciated!!

code snippet:
[code]

[2015-06-16 15:23] dmcquillan314 commented on #5146
Here's the implementation that I used made:

.factory('BVReviewFactory', [ '$q', '$http', '$resource', '$httpParamSerializer', 'BV_CONFIG', function($q, $http, $resource, $httpParamSerializer, bvConfig) {
    return $resource( bvConfig.apiUrl + '/data/:method', {
        apiVersion: bvConfig.apiVersion,
        passKey: bvConfig.apiKey
    }, {
        'submit': {
            method: 'POST',

[2015-06-16 15:23] gitnik commented on #5146
What happens when you log the `arguments`? maybe params is not the first argument

[2015-06-16 15:47] lpsBetty commented on #5146
@gitnik arguments is also undefined..
[code]

[2015-06-16 15:55] kirschre opened #12136 "$viewChangeListeners causing equals binding to toggle incorrectly"
[Reproducer](http://plnkr.co/edit/y150DGOb9JZIWU7HGMoW)

In this plunkr, I have a child directive that uses ngModel and has a two-way (=) bound attribute on its isolate scope. It uses an ngModel `$viewChangeListener` to set the value of the binding to false any time the model changes.

There is also a parent directive that consumes the child directive via its template. The parent directive grabs t

[2015-06-16 18:19] #7971 closed

[2015-06-16 18:26] Shawful opened #12137 "Adding 'ngMock' as a dependency module removes my partial view"
Hello,

I'm not sure if my problem has to do with versioning or documentation.

I'm using angular 1.2.28 and my team has not yet moved to 1.3.

When I include 'ngMock' among my app's dependencies, the main page content is blank.  When I remove 'ngMock', the page content is shown.  Any idea what would cause this?

I'm just trying to set up unit tests and eventually set up protractor for e2e tests,

[2015-06-16 18:46] franciscopuyo opened #12139 "Animations stopped working"
Hi, how are you?
The fact is that my animations run by ngAnimate stopped working. I tested one of them in another enviroment and it works:
[code]
The fact is i have ngAnimate library well-configured:
I have the angular-animate.js added to the index and the injection of ngAnimate made in the main controller file and they don't throw any error or warning. Have you made any change that could affect m

[2015-06-16 18:56] Narretz commented on #12139
There is not enough info for us to work with. Please
- tell us which version of angular / angular.animate you are using and if you have been upgrading from a previous version
- provide a minimal demo of the problem on plnkr etc.

[2015-06-16 19:06] Narretz commented on #8420
It's actually pretty mind-boggling that the Wiki is a parallel docs project to the official docs. We should really try to bring these two together. I'll open a new issue for that.

[2015-06-16 19:06] #8420 closed

[2015-06-16 19:20] Narretz opened #12140 "Integrate the angular github wiki with the official docs"
The https://github.com/angular/angular.js/wiki contains quite a bit of material. Some of it can also be found in the official docs (not 1:1 though), some of it can only be found there. I think it makes sense to incorporate what's good into the official doc, and either close the wiki, or keep it focussed only on the unique info. Why?

- the info is not curated regularly or strictly. It might be out

[2015-06-16 19:24] petebacondarwin commented on #12140
I like this idea. I think most of the wiki was written before we started generating guide docs.
We would need to go around the site/web and look for links to these pages.

@Narretz - would you like to put together some PRs?

[2015-06-16 19:29] joseandrespg commented on #5245
:O Sorry I miss this for what a long time!

And yes, this is not a bug. But is difficult to understand why the server response has been manipulated in a different way in both callbacks.

So, closing this issue now.

[2015-06-16 19:29] #5245 closed

[2015-06-16 19:41] Narretz commented on #12137
You are not really supposed to add `ngMock` as a dependency for your real site. It's used to make mocking of certain services easier in unit tests and should only be used there. For e2e tests, you would probably test against a real backend, or mock it on a different level from angular.

[2015-06-16 19:41] franciscopuyo commented on #12139
Hi again, I've been looking to my updates in libraries. The fact is that using angular-animate 1.4.1 it doesn't work, but downgrading it to 1.3.16 it does work. What it could be?

Thanks again

[2015-06-16 19:43] caitp commented on #12139
there have been breaking changes in ngAnimate, it's hard to say which ones you're hitting, but I'm betting it's related to `$animateCss` vs `$animate`

[2015-06-16 19:54] ilanbiala commented on #8420
@Narretz can you link to that issue?

[2015-06-16 19:57] Narretz commented on #11453
Sorry for the late response. I don't think your use case is something that should be supported by angular core. I would probably use two different lists, and modify the second when the first select changes and vice versa, to implement your selection constraints.

[2015-06-16 19:57] #11453 closed

[2015-06-16 19:58] Narretz commented on #11420
Closing due to lack of info.

[2015-06-16 19:58] #11420 closed

[2015-06-16 20:03] Shawful commented on #12137
That makes obvious sense. Thanks.  I only list my app's dependencies in my app.js file (using yeoman), so I was confused.

[2015-06-16 20:05] matsko commented on #12139
Running your CSS code without any material stuff works:

http://plnkr.co/edit/Hyjrk7YJxmH0e4kgFhEq?p=preview

I'm not sure which version of Material you're using and if that is really the thing that's breaking it. So I'll need a bit more info.

[2015-06-16 20:13] joelmdev commented on #11091
This appears to be fixed, perhaps inadvertently, in the latest version available via Nuget. Can someone else verify?

[2015-06-16 20:44] Narretz commented on #8420
@ilanbiala https://github.com/angular/angular.js/issues/12140

If you want to help, we can work something out.

[2015-06-16 20:50] Narretz commented on #11091
@joelmdev you mean in 1.4.1? The only location fix in it is this: https://github.com/angular/angular.js/commit/91b602263b96b6fce1331208462e18eb647f4d60

[2015-06-16 21:02] franciscopuyo commented on #12139
Thanks matsko,

I realize that i have an older version of angular so angular-animate didn't work. Thanks to all of you, i could solve it

[2015-06-16 21:03] matsko commented on #12139
OK excellent. I'm closing this for now. Please open a new issue if anything else pops up.

[2015-06-16 21:03] #12139 closed

[2015-06-16 21:31] #12137 closed

[2015-06-16 21:41] Narretz commented on #10742
I think this needs to be fixed in the dgeni template for directives.

[2015-06-16 21:57] Narretz commented on #12080
What exactly is the problem? Do your animations not work anymore?
I cannot say with 100% certainty that the first example is correct, because I am not sure if the view animations are supposed to happen exactly at the same time.

[2015-06-16 21:58] Narretz commented on #12080
Have you tried with 1.4.1?

[2015-06-16 22:07] Narretz commented on #11817
I'm closing this because we don't have enough info to pursue the issue. Feel free to reopen if you can provide more info.

[2015-06-16 22:07] #11817 closed

[2015-06-16 22:12] Narretz commented on #10995
I'm going to close this because we don't have a reproduction. It's possible that this was fixed as part of https://github.com/angular/angular.js/commit/706a93ab6960e3474698ccf9a8048b3c32e567c6

[2015-06-16 22:12] #10995 closed

[2015-06-16 22:22] Narretz commented on #10152
@slavafomin This is currently not really possible. I personally set up some data before I bootstrap angular manually. You can also add a set of resolves to each route, which is only resolved by the first route that is matched when the app is loaded. You can also voice your support for https://github.com/angular/angular.js/issues/4003

[2015-06-16 22:22] #10152 closed

[2015-06-16 22:23] Narretz commented on #9561
Closing because we don't have a reproduction.

[2015-06-16 22:23] #9561 closed

[2015-06-16 23:00] petebacondarwin commented on #11312
My PR appears to tidy up this issue: http://plnkr.co/edit/attBdNAiAIKoAXg7X5Ke?p=preview

[2015-06-16 23:04] philBrown commented on #5146
@lpsBetty the param serialiser is for query parameters, not those interpolated into the path.

[2015-06-17 00:26] zps938 opened #12141 "$http.delete causes non-zero Content-Length header in IE10 due to passing undefined to xhr.send"
Since 1.4.0-rc1 and confirmed in 1.4.1, calling `$http.delete('url')` in IE10 causes a non-zero Content-Length header to be added to the request. I noticed this when the webserver was returning HTTP error code 415 on all `$http.delete` calls.

I tracked this down to 1.4.0-rc1 where `xhr.send(post || null)` in createHttpBackend was changed to `xhr.send(post)`. When post is undefined, this problem o

[2015-06-17 01:55] hckhanh opened #12142 "Can not load 'ngMessages' in my demo app"
When I import `'ngMessage'` to my app. It does not work, even does not display the Material theme.
If i remove `'ngMessage'` from the module. It displays the correct theme, but `'ngMessage'` doesn't work
How can I fix it?
![but](https://cloud.githubusercontent.com/assets/6380436/8198291/92e33d96-14ce-11e5-9fca-3590b54c4b40.png)

[2015-06-17 01:57] hckhanh commented on #12142
I follow the example in Material page of Angular
https://material.angularjs.org/latest/#/demo/material.components.input

[2015-06-17 04:46] Siraris commented on #1699
I used both @sergey-buturlakin  and @kuchumovn solution, and I continually run into the same issue.

On the page in question (pagex) I use location.skipReload and it works great - I can update the path over and over without a route change.  If I then use an actual $location.path to change the route away from pagex to a new controller, it works, but if I hit the back button to return to pagex, and

[2015-06-17 07:06] lpsBetty commented on #5146
@philBrown ah thanks! Does anyone know how I can change params before they get interpolated into the path?

[2015-06-17 07:29] m4r71n commented on #12080
I've updated the examples. With 1.3.16 and 1.4.0-beta.6 both ngViews slide at the same time in the same direction. With 1.4.0-rc.0 and 1.4.1 they sometimes crossover or slide away from each other.
By clicking the buttons in this order you can see the difference: `2,3,2,1,2`

[2015-06-17 07:56] Narretz commented on #12142
You need to include the angular-messages.js file like you have with angular.js etc.

[2015-06-17 07:56] #12142 closed

[2015-06-17 08:29] hckhanh commented on #12142
Thahnk you #Martin Staffa.

On Wed, Jun 17, 2015 at 2:58 PM, Martin Staffa <notifications@github.com>
wrote:

--
Thân,
Hoàng Châu Khánh

[2015-06-17 08:38] pkozlowski-opensource commented on #12141
This was changed in e04a887c9b506de18516600310fe6e529d9d2ca3 (which looks like a valid fix). I guess we need to find another work-around for IE (probably be explicitly passing `null` for the requests without body)

[2015-06-17 09:51] jlowcs opened #12143 "weird behavior with already resolved promises inside a digest in 1.4.1 with ngShow and ngAnimate"
I have stumbled upon a weird behavior when migrating to angular 1.4.

I'll try to create a plunkr example when/if I have the time later.

For the time being, here's the issue's description.

Here's a simple controller:

[code]

The controller watches an ```id```, and updates an ```elt``` when the ```id``` changes.

The ```elt``` is retrieved using a function that returns a $q promise. ```elt``` is

[2015-06-17 10:18] kikhtenko opened #12144 "Isolated scope property for directive is being re-digested in version 1.4.1"
Hi,

the issue is not reproducible in 1.4.0 and appears only in 1.4.1 as you can see in the link below
http://plnkr.co/edit/kbIJflj4sL5kcCcYPzw7?p=preview

The problem is when scope property is changed in directive's controller then in the next digest cycle it's being rewritten.

Regards,
Andrew
@kikhtenko

[2015-06-17 10:19] Nickproger commented on #12144
+1

[2015-06-17 10:19] vovashevchenko commented on #12144
+1

[2015-06-17 10:20] soutlan commented on #12144
+1

[2015-06-17 10:23] pbiryukov commented on #12144
+1

[2015-06-17 10:35] petebacondarwin commented on #10423
I have a fix for this, using @gkalpak's suggestion. Please can you review?

[2015-06-17 11:50] hamfastgamgee commented on #11312
Yup, I can totally live with predictable behavior.  I could foresee times when developers would want to define whether null was a "high" or "low" value, but leaving that as "needs to be done in a custom sorter" is good enough for me to consider this issue fixed.

[2015-06-17 11:51] hamfastgamgee commented on #11312
i.e. It passes the "I'm in a demo, my product owner asked me to click that sorting column, and nothing weird happened" test. :)

[2015-06-17 11:51] spemmons opened #12146 "Chrome considered $http request cancelled with either timeout number or promise to still be "pending" indefinitely"
I'm pretty sure the snippet below is correct. I don't think it matters that I'm using JSONP since I basically had the same problem when trying to use a simple "get" method. If the URL in this case does not respond and my timeout kicks, the "deferral.resolve()" correctly triggers the "error" method on the $http request, but in the Chrome tab for the page I see the "spinning" request-pending animati

[2015-06-17 11:54] gkalpak commented on #12060
@petebacondarwin said it all.

I just wanted to add that (especially for a large project using the same behaviour in many places), another viable option is to define a custom filter that wraps `filterFilter` and ensures empty strings in predicate are converted to `undefined` (or incorporate whatever custom business logic you need to).
([Quick and dirty example][1])

Or (depending on how you constr

[2015-06-17 12:17] gkalpak commented on #12144
It's probably a6339d3.

[2015-06-17 12:31] gkalpak commented on #10423
#12145 seems to fix my live reproduction scenario.

[2015-06-17 12:45] petebacondarwin commented on #11312
Great! We'll close this when it lands.

[2015-06-17 12:52] Narretz commented on #12144
Probably. Doesn't happen with `= `..

[2015-06-17 13:02] #10423 closed

[2015-06-17 13:40] aegiz commented on #6210
+1

[2015-06-17 13:44] jimijon opened #12148 "ng-options "track by" failing. 1.4.1"
In version 1.4.1 track by no longer works and brings back the whole object.

[2015-06-17 14:00] Narretz commented on #12148
please provide a plnkr with a demo.

[2015-06-17 14:01] asadovnikov commented on #12144
+1

[2015-06-17 14:14] pkozlowski-opensource commented on #6210
@aegiz: https://github.com/angular/angular/pull/2583

[2015-06-17 14:57] thany opened #12150 "Calling element.click() causes "$apply already in progress" with ng-touch"
With angular-touch installed and working fine, when calling `element.click()` in the process of an $apply (where `element` is a plain vanilla DOM element, gotten from something like `$event.target`) causes an error `$apply already in progress`.

Presumably this is because ng-touch registers a click handler on each and every element, which calls $apply again, which is no good for Angular.

I see tw

[2015-06-17 17:12] Dariatj opened #12152 "Angular code snippets appear during Page Refresh"
I have a page with lots of Angular code in it.  However, during a postback (i.e. my users click the refresh button), Angular code snippets appear  then go away after Angular loads.
{{Message}}
[[m.FieldName]]

Is there any way to prevent these Angular codes from appearing?

Thanks

Tom
![angularjscodesshowingwhen usersclickrefesh](https://cloud.githubusercontent.com/assets/12939784/8213784/7a251ea

[2015-06-17 17:45] pkozlowski-opensource commented on #12152
See: http://stackoverflow.com/q/12866447/1418796

[2015-06-17 17:45] #12152 closed

[2015-06-17 18:19] Dariatj commented on #12152
Thank you very much!

[2015-06-17 18:34] OlenDavis opened #12153 "ngTouch prevents focusing inputs at or below ngClick"
You can see [my comment on this commit here](https://github.com/angular/angular.js/commit/0bbd20f255b2954b5c41617fe718cf6eca36a972#commitcomment-11730613) to explain the problem with that commit further. But, I truly don't understand how in an attempt to bust the redundant, original/"ghost click" click event (because it's being done faster than the original thanks to this wonderful work) we would

[2015-06-17 18:37] xnuter commented on #12153
+1

[2015-06-17 19:07] rcollette commented on #8567
While future behavior is being discussed, at least the documentation should reflect the current behavior.  I lost a bunch of time and eventually had to debug into angular code to figure out what was going on.   Not a straight forward task with digest/callbacks.

[2015-06-17 19:14] pkozlowski-opensource commented on #8567
@rcollette The `delete` method is [currently documented](https://docs.angularjs.org/api/ng/service/$http) as `delete(url, [config]);` - that is - as one without any `data` argument. But if you thin that more explicit mention is needed, we would love to see a PR!

[2015-06-17 19:21] #1473 closed

[2015-06-17 19:21] #11983 closed

[2015-06-17 19:31] caitp commented on #8567
I don't see anything in fetch or xhr that would forbid or ignore the request body for `delete` --- I think this was more about best practices and maybe browser compat. If it works correctly on all supported  browsers, then we can talk about whether it makes sense as a best practice

[2015-06-17 19:34] lgalfaso commented on #12143
Without a clean plunker that shows the error, it is not possible to even know if this is a bug or not.

I will close this as without this, there is nothing to work on. If you can get a plunker in place that shows the error, then feel free to reopen this issue.

[2015-06-17 19:36] pkozlowski-opensource commented on #8567
@caitp last time I looked at various specs (mostly HTTP) it wasn't clear if it is at allowed on HTTP level to have DELETE with body. It seems like some servers ignore body even if sent, some other process it.

But I agree that we should try to see if things are not exploding on XHR-level in all browsers and if not, we could move this method to the set of ones with allowed body. Unless someone find

[2015-06-17 19:47] caitp commented on #8567
yes, and it's arguably not a best-practice to include a body in DELETE requests because some backends discard them --- but I don't believe there's anything in the RFCs or the WHATWG specs for the clientside that enforce any of this

[2015-06-17 20:09] ivanreese commented on #11983
Thanks!

[2015-06-17 21:39] mikol opened #12154 "ngMock doesn’t support `inject` from `before` hooks."
Both Jasmine 2.1+ and Mocha support `before` hooks that run setup code once before all `beforeEach` hooks and test cases are run. `angular-mocks.js` does not use these hooks to configure `currentSpec` (the way, for example, it uses `beforeEach` to do so). When `inject` is called from a `before` hook, it returns without invoking `workFn` and therefore does not invoke the specified function block, c

[2015-06-17 23:18] tkrotoff commented on #11616
@sravenhorst Your jsfiddle (http://jsfiddle.net/m06jeth1/20/) is missing something: it never displays "This is a required field"

[2015-06-18 01:37] natcohen opened #12157 "$watch not triggering the second time scrollHeight changes"
I'm trying to `$watch` the `scrollHeight` of an element (hidden inside two tables) in a directive. The behavior is very strange; the first time the value changes, it triggers my function. The second time it doesn't and then it works for good...

The `scrollHeight` I'm watching is inside a double table:

    <table>
      <tbody>
        <tr>
          <td ng-click="show()" style="cursor:pointer">S

[2015-06-18 02:30] booleanbetrayal commented on #8470
@caitp + @jeffbcross - FWIW, this appears to happening on our models during serialization when encountering a property `$$embeddedIn` which we named as such to piggyback on the transient nature of `$$` prefixed properties during JSON serialization. Called directly into `angular.toJson` by the model, passing its as the value to be serialized. Looking at the source, the `toJsonReplacer` function app

[2015-06-18 03:16] caitp commented on #8470
A quick bug search doesn't turn up much for that @booleanbetrayal https://bugzilla.mozilla.org/buglist.cgi?list_id=12335697&short_desc=JSON%20replacer&resolution=---&resolution=FIXED&resolution=INVALID&resolution=WONTFIX&resolution=DUPLICATE&resolution=WORKSFORME&resolution=INCOMPLETE&resolution=SUPPORT&resolution=EXPIRED&query_format=advanced&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIG

[2015-06-18 06:50] lgalfaso commented on #12154
Whatever you put in `before` cannot be injected as, at that time, there is
no injector nor app running

[2015-06-18 06:57] piernik opened #12158 "minlength validator binded to ng-model not input"
I'm using custom directive to build my form.
Like `<my-input ng-model="vm.value" required="true" minlength="6">`

This example shows that in validation required is bind to ng-model and works great. But `minlength` or `ng-minlength` is different - I suppose it works only with `input` tag.

Can You bing `ng-minlength` with `ng-model`?

Should I make my own validator?

[2015-06-18 07:34] #11866 closed

[2015-06-18 07:34] #11312 closed

[2015-06-18 08:01] Narretz commented on #12153
Hmm, interesting. I don't even understand what problem https://github.com/angular/angular.js/commit/0bbd20f255b2954b5c41617fe718cf6eca36a972 is trying to solve. Can someone give an example?

[2015-06-18 08:11] Narretz commented on #12153
BTW, you don't need to maintain a complete copy of angular, you can do the same ngTouch does - decorate the ngClick directive. In practice, that means you'll have to copy most of ngTouch's code, but you can do it in a more maintainable way.

[2015-06-18 08:49] lukeapage commented on #9954
I've modified the plinkr to work -

http://plnkr.co/edit/WAvvu99uLhVRmdlwRWDv?p=preview

So that is one way you can use them together

[2015-06-18 09:04] jlowcs commented on #12143
Here's the plunkr.

http://plnkr.co/edit/52OvOOunfY0fdLelyxWR

The element sometimes has multiple values (null and undefined at the same time) when evaluated by the ng-show directives.

Juste follow the insctrutions in the plunkr.

It seems to be linked to angular-animate, since it works well  without it. The issue is with ng-show, but not with ng-if.

[2015-06-18 09:05] jlowcs commented on #12143
I can't reopen the issue myself btw.

[2015-06-18 09:06] pkozlowski-opensource commented on #12143
//cc: @matsko

[2015-06-18 09:07] rolandjitsu commented on #9954
@lukeapage thanks :+1:

[2015-06-18 09:09] urpro-bas commented on #6049
I have made a work around, it's kind of a dirty hack, but it works for me maybe it also works for others. The problem is caused by the parent no longer being available when the leave animation is finished (it's removed from the dom). My hack adds the option to listen to "*" instead of a dom element. So `$animate.on('leave', '*', function(element, phase){  })`

My code can be found here: https://gi